In [1]:
import numpy as np
import pandas as pd
# from calibration.Calibration import Calibration

In [2]:
# load rankings
# model_reco/neumf/reco_matrix_neumf_100k_100.npy
reco_matrix = np.load("model_reco/1m/wmf/reco_matrix_wmf_1m_1000.npy")[0]

print(reco_matrix.shape)

(6040, 1000)

In [3]:
import pickle

with open("model_reco/1m/wmf/score_dicts_wmf1m.pkl", "rb") as file:
    scores = pickle.load(file)
scores.__len__()

6040

In [4]:

movie = './data/ml-1m/i_id_mapping_genre.csv'

df_movie = pd.read_csv(movie, sep='\t')
print(f'shape: {df_movie.shape}')


df_movie.columns = ["item_id", "Name","genres","itemID"]
df_movie[:4]
movies = df_movie.sort_values(by="itemID")
unique_genres = [
    "Action",
    "Thriller",
    "Romance",
    "Western",
    "Children's",
    "Mystery",
    "Fantasy",
    "Film-Noir",
    "Documentary",
    "Comedy",
    "Adventure",
    "Sci-Fi",
    "Horror",
    "Crime",
    "Musical",
    "War",
    "Animation",
    "Drama",
]
for genre in unique_genres:
    movies[genre] = 0
    
for index, row in movies.iterrows():
    genres = row["genres"].split("|")
    for genre in genres:
        movies.at[index, genre] = 1
movies


movies

shape: (3416, 4)

,item_id,Name,genres,itemID,Action,Thriller,Romance,Western,Children's,Mystery,...,Documentary,Comedy,Adventure,Sci-Fi,Horror,Crime,Musical,War,Animation,Drama
0,1193,One Flew Over the Cuckoo's Nest (1975),Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,661,James and the Giant Peach (1996),Animation|Children's|Musical,1,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,0
2,914,My Fair Lady (1964),Musical|Romance,2,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,3408,Erin Brockovich (2000),Drama,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2355,"Bug's Life, A (1998)",Animation|Children's|Comedy,4,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3411,2833,Lucie Aubrac (1997),Romance|War,3411,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3412,3207,"Snows of Kilimanjaro, The (1952)",Adventure,3412,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3413,3533,"Actor's Revenge, An (Yukinojo Henge) (1963)",Drama,3413,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3414,2777,Cobra (1925),Drama,3414,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3415,3443,Born American (1986),Action|Drama|Thriller,3415,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [5]:
movies = movies.drop(columns=["item_id"])
movies = movies.sort_values(by="itemID")
movies

,Name,genres,itemID,Action,Thriller,Romance,Western,Children's,Mystery,Fantasy,...,Documentary,Comedy,Adventure,Sci-Fi,Horror,Crime,Musical,War,Animation,Drama
0,One Flew Over the Cuckoo's Nest (1975),Drama,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,James and the Giant Peach (1996),Animation|Children's|Musical,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
2,My Fair Lady (1964),Musical|Romance,2,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,Erin Brockovich (2000),Drama,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,"Bug's Life, A (1998)",Animation|Children's|Comedy,4,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3411,Lucie Aubrac (1997),Romance|War,3411,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3412,"Snows of Kilimanjaro, The (1952)",Adventure,3412,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3413,"Actor's Revenge, An (Yukinojo Henge) (1963)",Drama,3413,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3414,Cobra (1925),Drama,3414,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3415,Born American (1986),Action|Drama|Thriller,3415,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [6]:
users = pd.read_csv("./data/ml-1m/u_id_mapping_demographic.csv", sep="\t")
# users


users = users.sort_values(by="userID")

users = users.drop(columns=users.columns[0])
gender_map = {"M": 0, "F": 1}
users["Gender"] = users["Gender"].map(gender_map)
# user_features_numpy = users.to_numpy()
users

      Gender  Age  Occupation ZipCode  userID
0          1    1          10   48067       0
1          0   56          16   70072       1
2          0   25          15   55117       2
3          0   45           7   02460       3
4          0   25          20   55455       4
...      ...  ...         ...     ...     ...
6035       1   25          15   32603    6035
6036       1   45           1   76006    6036
6037       1   56           1   14706    6037
6038       1   45           0   01060    6038
6039       0   25           6   11106    6039

[6040 rows x 5 columns]

In [8]:
item_ids = movies["itemID"].to_numpy()
item_ids

array([   0,    1,    2, ..., 3413, 3414, 3415])

In [7]:
users["Occupation"].max()

20

In [10]:
# age_map = { 0:  "Under 18",
# 	 1:  "18-24",
# 	 2:  "25-34",
# 	 3:  "35-44",
# 	 4:  "45-49",
# 	 5:  "50-55",
# 	 6:  "56+"} #we will follow the same age amp for all dataset
from metrics.utils import map_age
users["Age_Code"] = users["Age"].apply(map_age)
users

      Gender  Age  Occupation ZipCode  userID  Age_Code
0          1    1          10   48067       0         0
1          0   56          16   70072       1         6
2          0   25          15   55117       2         2
3          0   45           7   02460       3         4
4          0   25          20   55455       4         2
...      ...  ...         ...     ...     ...       ...
6035       1   25          15   32603    6035         2
6036       1   45           1   76006    6036         4
6037       1   56           1   14706    6037         6
6038       1   45           0   01060    6038         4
6039       0   25           6   11106    6039         2

[6040 rows x 6 columns]

In [11]:
users["Occupation"].min()

0

In [12]:
# tahsin kheya
# last modified 23/01/2025
import pandas as pd
import os
import numpy as np

# import torch
import time
from logging import getLogger
import random
import numpy as np

from scipy.stats import entropy
# from mpi4py import MPI

# comm = MPI.COMM_WORLD
rank = 0


class GreedyCalibration(object):
    def __init__(self, config, movies, top_k, unique_genres, users, sensitive_attr, beta):
        self.top_k = top_k
        self.users_df = users
        self.users_np = users.to_numpy()
        self.beta = beta
        self.actual_genre_dist = pd.read_csv(
            os.path.join(config["user_genre_dist_file"]),
            sep="\t",
        )
        self.actual_genre_dist = self.actual_genre_dist.sort_values(by="userID")
        self.unique_genres = unique_genres
        self.i =movies
        self.i[unique_genres] = self.i[self.unique_genres].div(
            self.i[self.unique_genres].sum(axis=1), axis=0
        )
        self.sensitive_attr = sensitive_attr
        self.sensitive_compare_dist = []
        self.actual_distribution_sensitive = []

    def get_recom_distribution(self, reco, uid, compare_dist, alpha):
        reco = np.array(reco)
        selected_items = self.i[self.i['itemID'].isin(reco)]
        selected_items = selected_items.set_index('itemID').loc[reco].reset_index()
        selected_items = selected_items[self.unique_genres].to_numpy()
        indices = np.arange(len(reco))
        weights = 1 / (indices + 1) ** 0.1
        updated_genre_proportions = (1 - alpha) * selected_items + alpha * compare_dist
        updated_genre_proportions = weights[:, None] * updated_genre_proportions
        updated_genre_proportions = updated_genre_proportions.sum(axis=0)
        return updated_genre_proportions

    def compute_diversity_score(self, reco_items, uid, scores, b):
        alpha = 0.01
        userid = self.users_df.columns.get_loc("userID")
        sens_atr = self.users_df.columns.get_loc(self.sensitive_attr)
        filtered_rows = self.users_np[self.users_np[:, userid] == uid][0]
        current_user_sensitive_attr= filtered_rows[sens_atr]
        compare_dist = self.sensitive_compare_dist[current_user_sensitive_attr]
        # print(f"user id {uid} with gender {current_user_sensitive_attr} compare_dist {compare_dist} ")
        reco_dist = self.get_recom_distribution(reco_items, uid, compare_dist, alpha)  # sum wr(i)q˜(д|i),
        reco_dist = np.log(reco_dist)  # log sum wr(i)q˜(д|i),
        faireness_term = np.sum(compare_dist * reco_dist)
        sum_score = sum(scores[item] for item in reco_items)
        return (sum_score, faireness_term)

    def get_improved_reco(self, top_items, items, scores):
        self.get_sensitive_genre_dist()
        return self.get_new_recommendations(
            reco=top_items, scores=scores, all_items=items
        )

    def get_sensitive_genre_dist(self):
        actual_dist_sensitive = pd.merge(
            self.actual_genre_dist, self.users_df, on="userID"
        )
        sensitive_genre_weights_a = actual_dist_sensitive.groupby(self.sensitive_attr)[
            self.unique_genres
        ].mean()
        self.actual_distribution_sensitive = sensitive_genre_weights_a.sort_index()
        sensitive_compare_dist = self.actual_distribution_sensitive.sum()
        self.sensitive_compare_dist = self.actual_distribution_sensitive.apply(
            lambda r: sensitive_compare_dist - r, axis=1
        )
        nonzeroarray = np.full(len(self.unique_genres), 0.001)
        tradeoff = 0.01
        self.sensitive_compare_dist = tradeoff * nonzeroarray + (1-tradeoff) * self.sensitive_compare_dist #just to ensure we never get log 0 error
        self.sensitive_compare_dist = (
            self.sensitive_compare_dist[self.unique_genres].sort_index().to_numpy()
        )
        

    def normalize_scores(self, diversity_scores, b):
        div_scores = np.array(diversity_scores)
        scores = div_scores[:, 0]
        fairness = div_scores[:, 1]
        min_score,min_fairness = np.min(scores), np.min(fairness)
        max_score,max_fairness = np.max(scores), np.max(fairness)
        score_norm = (scores- min_score) /(max_score-min_score)
        fairness_norm = (fairness-min_fairness)/(max_fairness-min_fairness)
        fair_score_norm = (1 - b) * score_norm + b * fairness_norm
        fair_score_norm[div_scores[:, 0] == 0] = -9999
        return fair_score_norm

    def get_new_recommendations(self, reco, scores, all_items):
        """reco is 6040x50 and scores is 6040x3416"""
        b = self.beta  # beta for the fairness term
        # print(f"beta {b}")
        all_users = []
        top_k = self.top_k
        num_users = len(scores)
        # for u in range(rank*2,rank*2+2):
        upper_bound = min(num_users, rank * 25 + 25)
        
        for u in range(5999, num_users):
            start_time = time.perf_counter()
            # remaining_items = list(range(10))
            # print(reco)
            remaining_items = reco[u]
            # remaining_items = all_items
          
            # print(remaining_items)
            u_calibrated = []
            for k in range(top_k):
                diversity_scores = [
                    self.compute_diversity_score(u_calibrated + [i], u, scores[u], b)
                    for i in remaining_items
                ]
                norm_diversity_scores = self.normalize_scores(diversity_scores, b)
                max_index = np.argmax(norm_diversity_scores)
                best_item = remaining_items[max_index]
                u_calibrated.append(best_item)
                remaining_items=np.delete(remaining_items, max_index)
                
                
            end_time = time.perf_counter()
            print(f"time taken {end_time-start_time}")
            print(f"user {u} u_calibrate {u_calibrated}")
            all_users.append(u_calibrated)

        return np.array(all_users)

In [13]:
config = {"user_genre_dist_file": "./data/ml-1m/pgui.csv"}

sensitive_attr = "Age_Code"
# movies = movie df
calibration = GreedyCalibration(config, movies,20, unique_genres, users, sensitive_attr, 0.8)
retVal = calibration.get_improved_reco(reco_matrix, list(item_ids), scores)

time taken 14.889484375016764
user 5999 u_calibrate [711, 64, 85, 207, 273, 662, 505, 44, 623, 48, 121, 729, 597, 127, 381, 128, 22, 167, 171, 78]
time taken 14.487301541026682
user 6000 u_calibrate [145, 229, 124, 608, 325, 104, 44, 623, 597, 121, 420, 209, 184, 9, 1092, 128, 766, 1001, 1120, 669]
time taken 14.17005587508902
user 6001 u_calibrate [1651, 209, 9, 76, 136, 535, 662, 199, 44, 597, 121, 170, 1764, 213, 428, 381, 124, 1120, 321, 719]
time taken 16.600770457996987
user 6002 u_calibrate [145, 229, 124, 608, 600, 662, 623, 44, 104, 121, 546, 1503, 381, 84, 1092, 209, 766, 597, 321, 1120]
time taken 14.879932041978464
user 6003 u_calibrate [713, 1220, 5, 482, 585, 797, 808, 167, 738, 124, 29, 381, 1014, 385, 68, 168, 982, 92, 273, 1120]
time taken 14.381113125011325
user 6004 u_calibrate [711, 209, 608, 124, 104, 662, 720, 623, 192, 128, 171, 168, 1014, 84, 909, 381, 5, 167, 603, 1120]
time taken 14.399854832910933
user 6005 u_calibrate [412, 277, 381, 474, 48, 603, 29, 505, 44, 416, 246, 167, 5, 273, 85, 156, 134, 22, 149, 1120]
time taken 17.41428370808717
user 6006 u_calibrate [711, 133, 171, 2373, 207, 662, 703, 196, 85, 558, 68, 690, 246, 2232, 277, 92, 788, 167, 1000, 567]
time taken 16.27109579090029
user 6007 u_calibrate [711, 64, 128, 33, 273, 662, 720, 168, 123, 48, 22, 246, 134, 68, 104, 62, 381, 321, 1120, 124]
time taken 16.74999433301855
user 6008 u_calibrate [104, 64, 911, 207, 68, 505, 85, 44, 416, 788, 246, 538, 164, 151, 584, 381, 84, 92, 290, 97]
time taken 17.88663370895665
user 6009 u_calibrate [711, 64, 85, 608, 600, 7, 44, 662, 623, 385, 792, 121, 139, 175, 207, 217, 167, 5, 209, 565]
time taken 19.647220041952096
user 6010 u_calibrate [711, 64, 85, 33, 273, 662, 720, 7, 123, 171, 132, 505, 246, 68, 206, 167, 783, 264, 168, 209]
time taken 19.510340041015297
user 6011 u_calibrate [457, 982, 740, 792, 1523, 305, 104, 44, 2775, 184, 1014, 123, 869, 94, 334, 979, 1106, 372, 1120, 132]
time taken 17.532774540944956
user 6012 u_calibrate [1651, 277, 381, 1087, 546, 29, 797, 662, 958, 199, 372, 5, 1014, 346, 266, 719, 1120, 209, 2475, 43]
time taken 22.329566749976948
user 6013 u_calibrate [145, 662, 719, 608, 829, 209, 7, 623, 958, 121, 124, 1448, 212, 381, 321, 170, 1001, 1092, 1120, 420]
time taken 23.372196165961213
user 6014 u_calibrate [145, 64, 51, 207, 273, 662, 505, 44, 623, 1451, 104, 48, 381, 5, 128, 22, 7, 669, 33, 1120]
time taken 21.280048165936023
user 6015 u_calibrate [1651, 209, 9, 829, 546, 29, 662, 55, 958, 199, 2475, 124, 246, 170, 381, 212, 1120, 297, 1001, 95]
time taken 21.60091520892456
user 6016 u_calibrate [711, 64, 321, 207, 273, 662, 104, 44, 623, 1451, 68, 1348, 171, 9, 669, 1518, 85, 22, 3, 719]
time taken 18.439570665941574
user 6017 u_calibrate [711, 64, 128, 273, 608, 662, 104, 44, 199, 167, 1451, 206, 124, 669, 9, 321, 134, 48, 209, 184]
time taken 15.56266058399342
user 6018 u_calibrate [711, 64, 85, 33, 273, 167, 137, 44, 788, 416, 1014, 104, 68, 5, 168, 51, 22, 9, 171, 128]
time taken 14.603573042084463
user 6019 u_calibrate [145, 209, 719, 829, 608, 662, 597, 70, 44, 1451, 7, 321, 600, 124, 381, 669, 766, 1092, 1120, 9]
time taken 14.731614459073171
user 6020 u_calibrate [711, 64, 128, 33, 273, 662, 7, 720, 123, 206, 124, 246, 437, 97, 505, 381, 48, 5, 209, 168]
time taken 15.10863733291626
user 6021 u_calibrate [711, 64, 128, 207, 273, 662, 7, 44, 199, 167, 171, 246, 168, 5, 381, 97, 505, 124, 1120, 85]
time taken 15.006497667054646
user 6022 u_calibrate [711, 64, 128, 33, 273, 850, 808, 123, 168, 97, 171, 167, 246, 175, 133, 68, 27, 50, 202, 7]
time taken 13.807240457972512
user 6023 u_calibrate [711, 64, 85, 33, 273, 662, 720, 104, 123, 171, 68, 1014, 788, 167, 5, 97, 381, 669, 168, 209]
time taken 12.867818625061773
user 6024 u_calibrate [1061, 277, 381, 911, 48, 207, 104, 44, 168, 199, 128, 1014, 273, 437, 124, 505, 669, 1120, 5, 85]
time taken 13.863883125013672
user 6025 u_calibrate [711, 64, 662, 273, 608, 321, 7, 44, 623, 5, 121, 104, 714, 168, 9, 209, 170, 124, 1120, 68]
time taken 14.18847812502645
user 6026 u_calibrate [711, 64, 128, 207, 273, 850, 168, 44, 416, 85, 198, 1014, 39, 148, 381, 713, 97, 171, 84, 33]
time taken 14.465579916955903
user 6027 u_calibrate [711, 64, 128, 207, 273, 662, 7, 44, 199, 167, 171, 246, 168, 5, 97, 381, 104, 209, 84, 1120]
time taken 12.983725750003941
user 6028 u_calibrate [1348, 64, 136, 608, 600, 662, 623, 44, 1462, 428, 121, 719, 597, 381, 217, 7, 5, 1120, 47, 209]
time taken 14.091828207951039
user 6029 u_calibrate [711, 64, 662, 273, 608, 321, 104, 44, 623, 5, 1014, 0, 206, 92, 207, 669, 209, 7, 124, 1150]
time taken 13.490548375062644
user 6030 u_calibrate [711, 64, 85, 33, 273, 168, 137, 26, 123, 7, 124, 396, 246, 68, 22, 548, 210, 171, 505, 5]
time taken 14.700036916066892
user 6031 u_calibrate [170, 209, 9, 76, 136, 29, 662, 199, 597, 44, 1651, 121, 600, 47, 719, 2263, 381, 217, 174, 1120]
time taken 13.192122250096872
user 6032 u_calibrate [711, 64, 128, 273, 207, 662, 104, 44, 199, 167, 171, 246, 7, 277, 4, 68, 134, 209, 168, 9]
time taken 13.84576341707725
user 6033 u_calibrate [1920, 209, 9, 829, 714, 70, 559, 582, 104, 5, 1092, 184, 990, 420, 486, 733, 669, 1120, 661, 766]
time taken 13.262821957934648
user 6034 u_calibrate [145, 64, 51, 33, 600, 662, 505, 720, 123, 1014, 168, 5, 546, 381, 85, 116, 209, 7, 669, 1120]
time taken 14.999071334023029
user 6035 u_calibrate [1920, 209, 9, 829, 546, 29, 662, 70, 44, 170, 1529, 121, 213, 315, 124, 321, 381, 766, 1120, 1092]
time taken 14.799063583952375
user 6036 u_calibrate [1920, 209, 9, 829, 48, 585, 29, 44, 623, 104, 1451, 669, 597, 964, 719, 1348, 381, 321, 5, 1120]
time taken 14.450416874955408
user 6037 u_calibrate [1651, 277, 381, 635, 669, 714, 29, 1462, 1612, 44, 623, 7, 1451, 124, 600, 505, 5, 47, 1120, 51]
time taken 13.805172166903503
user 6038 u_calibrate [1651, 209, 9, 76, 246, 199, 29, 693, 44, 648, 1462, 669, 600, 124, 321, 381, 22, 5, 1503, 47]
time taken 13.313190540997311
user 6039 u_calibrate [170, 209, 9, 1247, 546, 29, 662, 70, 44, 1920, 1911, 2227, 1092, 1497, 1158, 420, 381, 643, 1120, 1457]

In [15]:
import csv
def write_to_file(all_data, top_k):
    with open("Gender_8_wmf1m.csv", "w", newline="") as csvfile:
        writer = csv.writer(csvfile)
        writer.writerow(["user_id"] + [f"top_{i+1}" for i in range(top_k)])
        print(":" * 10)
        print(all_data)
        print(all_data.__len__())
        print(":" * 10)
        i = 0
        for reco in all_data:
            r = [str(i+5999)] + [str(w) for w in reco]
            writer.writerow(r)
            i = i + 1

In [16]:
write_to_file(retVal, 20)

::::::::::
[[ 711   64   85  207  273  662  505   44  623   48  121  729  597  127
   381  128   22  167  171   78]
 [ 145  229  124  608  325  104   44  623  597  121  420  209  184    9
  1092  128  766 1001 1120  669]
 [1651  209    9   76  136  535  662  199   44  597  121  170 1764  213
   428  381  124 1120  321  719]
 [ 145  229  124  608  600  662  623   44  104  121  546 1503  381   84
  1092  209  766  597  321 1120]
 [ 713 1220    5  482  585  797  808  167  738  124   29  381 1014  385
    68  168  982   92  273 1120]
 [ 711  209  608  124  104  662  720  623  192  128  171  168 1014   84
   909  381    5  167  603 1120]
 [ 412  277  381  474   48  603   29  505   44  416  246  167    5  273
    85  156  134   22  149 1120]
 [ 711  133  171 2373  207  662  703  196   85  558   68  690  246 2232
   277   92  788  167 1000  567]
 [ 711   64  128   33  273  662  720  168  123   48   22  246  134   68
   104   62  381  321 1120  124]
 [ 104   64  911  207   68  505   85   44  416  788  246  538  164  151
   584  381   84   92  290   97]
 [ 711   64   85  608  600    7   44  662  623  385  792  121  139  175
   207  217  167    5  209  565]
 [ 711   64   85   33  273  662  720    7  123  171  132  505  246   68
   206  167  783  264  168  209]
 [ 457  982  740  792 1523  305  104   44 2775  184 1014  123  869   94
   334  979 1106  372 1120  132]
 [1651  277  381 1087  546   29  797  662  958  199  372    5 1014  346
   266  719 1120  209 2475   43]
 [ 145  662  719  608  829  209    7  623  958  121  124 1448  212  381
   321  170 1001 1092 1120  420]
 [ 145   64   51  207  273  662  505   44  623 1451  104   48  381    5
   128   22    7  669   33 1120]
 [1651  209    9  829  546   29  662   55  958  199 2475  124  246  170
   381  212 1120  297 1001   95]
 [ 711   64  321  207  273  662  104   44  623 1451   68 1348  171    9
   669 1518   85   22    3  719]
 [ 711   64  128  273  608  662  104   44  199  167 1451  206  124  669
     9  321  134   48  209  184]
 [ 711   64   85   33  273  167  137   44  788  416 1014  104   68    5
   168   51   22    9  171  128]
 [ 145  209  719  829  608  662  597   70   44 1451    7  321  600  124
   381  669  766 1092 1120    9]
 [ 711   64  128   33  273  662    7  720  123  206  124  246  437   97
   505  381   48    5  209  168]
 [ 711   64  128  207  273  662    7   44  199  167  171  246  168    5
   381   97  505  124 1120   85]
 [ 711   64  128   33  273  850  808  123  168   97  171  167  246  175
   133   68   27   50  202    7]
 [ 711   64   85   33  273  662  720  104  123  171   68 1014  788  167
     5   97  381  669  168  209]
 [1061  277  381  911   48  207  104   44  168  199  128 1014  273  437
   124  505  669 1120    5   85]
 [ 711   64  662  273  608  321    7   44  623    5  121  104  714  168
     9  209  170  124 1120   68]
 [ 711   64  128  207  273  850  168   44  416   85  198 1014   39  148
   381  713   97  171   84   33]
 [ 711   64  128  207  273  662    7   44  199  167  171  246  168    5
    97  381  104  209   84 1120]
 [1348   64  136  608  600  662  623   44 1462  428  121  719  597  381
   217    7    5 1120   47  209]
 [ 711   64  662  273  608  321  104   44  623    5 1014    0  206   92
   207  669  209    7  124 1150]
 [ 711   64   85   33  273  168  137   26  123    7  124  396  246   68
    22  548  210  171  505    5]
 [ 170  209    9   76  136   29  662  199  597   44 1651  121  600   47
   719 2263  381  217  174 1120]
 [ 711   64  128  273  207  662  104   44  199  167  171  246    7  277
     4   68  134  209  168    9]
 [1920  209    9  829  714   70  559  582  104    5 1092  184  990  420
   486  733  669 1120  661  766]
 [ 145   64   51   33  600  662  505  720  123 1014  168    5  546  381
    85  116  209    7  669 1120]
 [1920  209    9  829  546   29  662   70   44  170 1529  121  213  315
   124  321  381  766 1120 1092]
 [1920  209    9  829   48  585   29   44  623  104 1451  669  597  964
   719 1348  381  321    5 1120]
 [1651  277  381  635  669  714   29 1462 1612   44  623    7 1451  124
   600  505    5   47 1120   51]
 [1651  209    9   76  246  199   29  693   44  648 1462  669  600  124
   321  381   22    5 1503   47]
 [ 170  209    9 1247  546   29  662   70   44 1920 1911 2227 1092 1497
  1158  420  381  643 1120 1457]]
41
::::::::::

In [29]:
60*100

6000

In [ ]:
[[0.08129701 0.09984646 0.10186467 0.00437437 0.02813458 0.02732321
  0.003018   0.00602636 0.00491627 0.17567712 0.03694285 0.03532941
  0.02621846 0.03241395 0.02030809 0.03561443 0.01182731 0.26886745]
 [0.09949207 0.10652983 0.07843789 0.00750481 0.0212343  0.02824415
  0.00267132 0.00756791 0.00676386 0.16412515 0.04600522 0.05045142
  0.02637584 0.0358961  0.01568117 0.0390856  0.01119075 0.25274259]]

In [20]:
users[users["userID"]==25]

    user_id  Age  Gender Occupation ZipCode  userID  Occupation_Code
37       38   28       1      other   54467      25               13

In [ ]:
time taken 3.5609370830934495
user 3 u_calibrate [161, 47, 49, 389, 361, 118, 307, 430, 77, 407]
time taken 3.3222476250957698
user 4 u_calibrate [117, 673, 357, 184, 795, 252, 24, 325, 565, 742]
time taken 3.5916312499903142
user 5 u_calibrate [161, 78, 189, 254, 389, 361, 93, 357, 31, 321]

In [47]:
(0.45515195799816865-3.5609370830934495)/3.5609370830934495

-0.8721819713807551

In [17]:
a = np.array([[1,2,3,4],[5,6,7,8],[1,2,2,3]])
b=np.array([5,6,7,8])
c=np.array([1,2,2,3])
x = a.sum(axis=1)
x

array([10, 26,  8])

In [ ]:
m = movies
m[unique_genres] = movies[unique_genres].div(
        movies[unique_genres].sum(axis=1), axis=0
        )
m

In [ ]:
st = time.perf_counter()
u_calibrated = np.empty(1000)
current_index = 0
for i in range(1000):
    u_calibrated[current_index] = i
    current_index += 1
# u_calibrated = u_calibrated[:current_index]  # Trim if necessary
et = time.perf_counter()
print(et-st)

In [ ]:
np.save("occupation_9", retVal)

In [ ]:
users[3:10]

In [ ]:
s= time.time()
current_user_sensitive_attr = users.loc[
            users["userID"] == 4, "Gender"
        ].item()
e= time.time()
print(e-s)
current_user_sensitive_attr

In [ ]:
usersnp=users.to_numpy()

s= time.time()
userid = users.columns.get_loc("userID")
sens_atr = users.columns.get_loc("Gender")
filtered_rows = usersnp[usersnp[:, userid] == 4][0]
sens_atr= filtered_rows[sens_atr]
e= time.time()
print(e-s)

print("Original array:")
print(sens_atr)
print("\nFiltered rows where the 5th column is 4:")
print(filtered_rows)

In [ ]:
users

In [ ]:
p = np.array([0.1, 0.3, 0.6])
q = np.array([0.3, 0.4, 0.3])
# q˜(д|u) = (1 − α) · q(д|u) + α · p(д|u)
q_t = (1 - 0.01) * q + 0.01 * p
print(q_t)

In [ ]:
movies[793:794]

In [ ]:
movies[movies["genres"]==""]

In [ ]:
scores[0][1]

In [ ]:
sum(
    [
        0.0,
        0.01923077,
        0.0,
        0.11965812,
        0.0,
        0.02136753,
        0.0,
        0.00641026,
        0.0,
        0.02564101,
        0.5769231,
        0.02777778,
        0.01282051,
        0.0,
        0.0,
        0.0,
        0.01495726,
        0.0,
        0.17521365,
    ]
)

In [ ]:
item_index = movies.index.get_loc(0)
item_index

In [ ]:
reco = [1, 23, 4]
reco_2 = np.array(reco)
reco_2.flatten()

In [ ]:
nonzero_indices = np.where(p_dist != 0)

In [ ]:
nonzero_indices

In [ ]:
movies

In [ ]:
actual_genre_dist = pd.read_csv(
            os.path.join(config["user_genre_dist_file"]),
            sep="\t",
        )
actual_genre_dist = actual_genre_dist.sort_values(by="userID")
x = pd.merge(
            actual_genre_dist, users, on="userID"
        )
x = x.groupby(sensitive_attr)[
            unique_genres
        ].mean()
x

In [ ]:
total_sum = x.sum()
total_sum

In [ ]:

sum_except_self = x.apply(lambda row: total_sum - row, axis=1)
sum_except_self

In [ ]:

sum_except_self.sort_index(ascending=True).to_numpy()[0]

In [ ]:
print(int(users[users["userID"]==1]["Occupation_Code"]))

In [ ]:
occupation_code = users.loc[users["userID"] == 1, "Occupation_Code"].item()
occupation_code

In [ ]:
users[users["Occupation_Code"]==4]

In [ ]:
users

In [ ]:
0.5*0.99+0.01*0.26886745

In [ ]:
for i, genre in enumerate(unique_genres):
    print(i)
    print(genre)

In [ ]:
2*(0.2*0.01+0.99*0.02)

In [ ]:
(0.2*0.01+0.99*0.04)

In [ ]:
0.895958*0.000353

In [8]:
movies

,Name,genres,itemID,Action,Thriller,Romance,Western,Children's,Mystery,Fantasy,...,Documentary,Comedy,Adventure,Sci-Fi,Horror,Crime,Musical,War,Animation,Drama
0,One Flew Over the Cuckoo's Nest (1975),Drama,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,James and the Giant Peach (1996),Animation|Children's|Musical,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
2,My Fair Lady (1964),Musical|Romance,2,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,Erin Brockovich (2000),Drama,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,"Bug's Life, A (1998)",Animation|Children's|Comedy,4,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3411,Lucie Aubrac (1997),Romance|War,3411,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3412,"Snows of Kilimanjaro, The (1952)",Adventure,3412,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3413,"Actor's Revenge, An (Yukinojo Henge) (1963)",Drama,3413,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3414,Cobra (1925),Drama,3414,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3415,Born American (1986),Action|Drama|Thriller,3415,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1