In [1]:
import numpy as np
import pandas as pd
# from calibration.Calibration import Calibration

In [2]:
# load rankings
reco_matrix = np.load("model_reco/vaecf/reco_matrix_vaecf_ml100k_100.npy")
print(reco_matrix.shape)

(943, 100)

In [3]:
import pickle

with open("model_reco/vaecf/score_dicts_vaecf_ml100k.pkl", "rb") as file:
    scores = pickle.load(file)
scores.__len__()

943

In [4]:
movies = pd.read_csv(
    "./data/ml-100K/i_id_mapping_genre.csv",
    sep="\t",
    names=[
        "item_id",
        "Name",
        "genres",
        "itemID"
    ],
    header=0,
    # encoding="latin-1",
)
movies = movies.drop(columns=["item_id"])
movies = movies.sort_values(by="itemID")
unique_genres = [
    "Action",
    "Thriller",
    "Romance",
    "Western",
    "Children's",
    "Mystery",
    "Fantasy",
    "Film-Noir",
    "Documentary",
    "Comedy",
    "Adventure",
    "Sci-Fi",
    "Horror",
    "Crime",
    "Musical",
    "War",
    "Animation",
    "Drama",
]
for genre in unique_genres:
    movies[genre] = 0
    
for index, row in movies.iterrows():
    genres = row["genres"].split("|")
    for genre in genres:
        movies.at[index, genre] = 1


movies

,Name,genres,itemID,Action,Thriller,Romance,Western,Children's,Mystery,Fantasy,...,Documentary,Comedy,Adventure,Sci-Fi,Horror,Crime,Musical,War,Animation,Drama
0,Kolya (1996),Comedy,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,L.A. Confidential (1997),Thriller|Mystery|Film-Noir|Crime,1,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
2,Heavyweights (1994),Children's|Comedy,2,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,Legends of the Fall (1994),Romance|Western|War|Drama,3,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,Jackie Brown (1997),Crime|Drama,4,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1343,American Buffalo (1996),Drama,1343,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1344,A Chef in Love (1996),Comedy,1344,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1345,NÃ©nette et Boni (1996),Drama,1345,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1346,Hollow Reed (1996),Drama,1346,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1347,Getting Even with Dad (1994),Comedy,1347,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [5]:
users = pd.read_csv("./data/ml-100k/u_id_mapping_demographic_.csv", sep="\t")
users = users.sort_values(by="userID")
gender_map = {"M": 0, "F": 1}
users["Gender"] = users["Gender"].map(gender_map)
user_features_numpy = users.to_numpy()
users

     user_id  Age  Gender  Occupation ZipCode  userID  Occupation_Code
195      196   49       0      writer   55105       0               20
185      186   39       1   executive   00000       1                6
21        22   25       0      writer   40206       2               20
243      244   28       0  technician   80525       3               19
165      166   47       0    educator   55113       4                3
..       ...  ...     ...         ...     ...     ...              ...
938      939   26       1     student   33319     938               18
935      936   24       0       other   32789     939               13
929      930   28       1   scientist   07310     940               17
919      920   30       1      artist   90008     941                1
940      941   20       0     student   97229     942               18

[943 rows x 7 columns]

In [6]:
item_ids = movies["itemID"].to_numpy()
item_ids

array([   0,    1,    2, ..., 1345, 1346, 1347])

In [18]:
# tahsin kheya
# last modified 07/01/2025
import pandas as pd
import os
import numpy as np

# import torch
# import time
from logging import getLogger
import random
import numpy as np
from scipy.stats import entropy
# from mpi4py import MPI

# comm = MPI.COMM_WORLD
rank = 0


class GreedyCalibration(object):
    def __init__(self, config, movies, top_k, unique_genres, users, sensitive_attr, beta):
        self.top_k = top_k
        self.users_df = users
        self.beta = beta
        self.actual_genre_dist = pd.read_csv(
            os.path.join(config["user_genre_dist_file"]),
            sep="\t",
        )
        self.actual_genre_dist = self.actual_genre_dist.sort_values(by="userID")
        self.unique_genres = unique_genres
        self.item_df = movies
        self.sensitive_attr = sensitive_attr
        self.sensitive_compare_dist = []
        self.actual_distribution_sensitive = []

    def get_recom_distribution(self, reco, uid, compare_dist, alpha):
        reco = np.array(reco)
        df_reco = pd.DataFrame(
            {
                "userID": np.repeat(uid, len(reco)),
                "itemID": reco.flatten(),
                "rank": np.tile(np.arange(1, len(reco) + 1), 1),
            }
        )
        df_reco["weight_factor"] = 1 / (df_reco["rank"]) ** 0.1
        merged_df = pd.merge(df_reco, self.item_df, on="itemID", how="inner")

        merged_df[self.unique_genres] = merged_df[self.unique_genres].div(
            merged_df[self.unique_genres].sum(axis=1), axis=0
        )
        for i, genre in enumerate(self.unique_genres):
            merged_df[genre] = (1 - alpha) * merged_df[genre] + alpha * compare_dist[i]
       
        merged_df[self.unique_genres] = (
            merged_df["weight_factor"].values[:, None] * merged_df[self.unique_genres]
        )
        # for i, genre in enumerate(self.unique_genres):
        #     merged_df[genre] = (1 - alpha) * merged_df[genre] + alpha * compare_dist[i]

        summed_genre = (
            merged_df.groupby("userID")[self.unique_genres].sum().reset_index()
        )

        return summed_genre[self.unique_genres].to_numpy()

    def compute_diversity_score(self, reco_items, uid, scores, b):
        alpha = 0.01
        sum_score = 0
        current_user_sensitive_attr = self.users_df.loc[
            self.users_df["userID"] == uid, self.sensitive_attr
        ].item()
        compare_dist = self.sensitive_compare_dist[current_user_sensitive_attr]
        reco_dist = self.get_recom_distribution(reco_items, uid, compare_dist, alpha)[
            0
        ]  # sum wr(i)qË(Ð´|i),
        
        reco_dist = np.log(reco_dist)  # log sum wr(i)qË(Ð´|i),
        faireness_term = np.sum(compare_dist * reco_dist)

        for r in range(len(reco_items)):
            sum_score += scores[reco_items[r]]

        return (sum_score, faireness_term)

    def get_improved_reco(self, top_items, items, scores):
        self.get_sensitive_genre_dist()

        return self.get_new_recommendations(
            reco=top_items, scores=scores, all_items=items
        )

    def get_sensitive_genre_dist(self):
        actual_dist_sensitive = pd.merge(
            self.actual_genre_dist, self.users_df, on="userID"
        )
        sensitive_genre_weights_a = actual_dist_sensitive.groupby(self.sensitive_attr)[
            self.unique_genres
        ].mean()

        self.actual_distribution_sensitive = sensitive_genre_weights_a.sort_index()

        sensitive_compare_dist = self.actual_distribution_sensitive.sum()

        self.sensitive_compare_dist = self.actual_distribution_sensitive.apply(
            lambda r: sensitive_compare_dist - r, axis=1
        )
        self.sensitive_compare_dist = (
            self.sensitive_compare_dist.sort_index().to_numpy()
        )

    def normalize_scores(self, diversity_scores, b):
        # print(f"beta - {b}")
        
        filtered_scores = [x for x in diversity_scores if isinstance(x, tuple) and len(x) == 2]
        
        min_score = min(filtered_scores, key=lambda x: x[0])[0]
        max_score = max(filtered_scores, key=lambda x: x[0])[0]

        min_fairness = min(filtered_scores, key=lambda x: x[1])[1]
        max_fairness = max(filtered_scores, key=lambda x: x[1])[1]

        all_scores = []
        for i in range(diversity_scores.__len__()):
            if diversity_scores[i] != 0:
                score = (diversity_scores[i][0]- min_score) /(max_score-min_score)
                fairness_term = (diversity_scores[i][1]-min_fairness)/(max_fairness-min_fairness)
                # print(
                #     f"score {score} ft {fairness_term} total {(1 - b) * score + b * fairness_term}"
                # )
                all_scores.append((1 - b) * score + b * fairness_term)
            else:
                # print(f"index {i}")
                all_scores.append(-9999)

        return all_scores

    def get_new_recommendations(self, reco, scores, all_items):
        """reco is 6040x50 and scores is 6040x3416"""
        b = self.beta  # beta for the fairness term
        # print(f"beta {b}")
        all_users = []
        top_k = self.top_k
        num_users = len(scores)
        # for u in range(rank*2,rank*2+2):
        upper_bound = min(num_users, rank * 25 + 25)
        
        for u in range(0, num_users):
            # remaining_items = list(range(20))
            remaining_items = reco[u]
            # print(remaining_items)
            u_calibrated = []
            for k in range(top_k):
                diversity_scores = [
                    self.compute_diversity_score(u_calibrated + [i], u, scores[u], b)
                    for i in remaining_items
                ]
                # print(f"before {remaining_items} len {remaining_items.__len__()}")
                
                norm_diversity_scores = self.normalize_scores(diversity_scores, b)
                max_index = np.argmax(norm_diversity_scores)
                best_item = remaining_items[max_index]
                # print(f"best item {best_item}")
                # popped_element = arr[index_to_pop     ]
                # new_arr = np.delete(arr, index_to_pop)
                
                u_calibrated.append(best_item)
                remaining_items=np.delete(remaining_items, max_index)
                # print(f"after {remaining_items} len {remaining_items.__len__()}")
                # print(u_calibrated)


                
                # remaining_items.pop(max_index)
                # print(u_calibrated)
            print(f"user {u} u_calibrate {u_calibrated}")

            all_users.append(u_calibrated)

        return np.array(all_users)

In [ ]:
config = {"user_genre_dist_file": "./data/ml-100k/pgui.csv"}
sensitive_attr = "Gender"
# movies = movie df
calibration = GreedyCalibration(config, movies, 20, unique_genres, users, sensitive_attr, 0.5)
retVal = calibration.get_improved_reco(reco_matrix, list(item_ids), scores)

user 0 u_calibrate [289, 49, 357, 489, 189, 60, 24, 157, 1, 89, 360, 645, 95, 52, 133, 148, 31, 139, 101, 200]
user 1 u_calibrate [364, 52, 95, 136, 49, 24, 60, 549, 402, 77, 140, 157, 86, 23, 25, 641, 340, 209, 196, 278]
user 2 u_calibrate [82, 114, 748, 161, 26, 142, 526, 136, 201, 216, 247, 454, 407, 31, 179, 57, 368, 208, 231, 52]
user 3 u_calibrate [161, 24, 49, 52, 31, 136, 179, 256, 68, 307, 77, 367, 357, 216, 364, 402, 57, 86, 140, 209]
user 4 u_calibrate [710, 95, 645, 157, 1, 289, 60, 40, 360, 489, 98, 742, 139, 403, 117, 175, 104, 72, 280, 130]
user 5 u_calibrate [357, 49, 24, 31, 321, 254, 161, 216, 256, 367, 100, 166, 239, 189, 191, 240, 469, 52, 329, 217]
user 6 u_calibrate [49, 357, 24, 189, 77, 52, 31, 95, 136, 209, 60, 500, 402, 216, 12, 289, 103, 68, 101, 686]
user 7 u_calibrate [357, 49, 24, 31, 52, 254, 367, 256, 189, 161, 216, 101, 209, 321, 200, 307, 77, 156, 95, 239]
user 8 u_calibrate [289, 49, 357, 489, 189, 31, 273, 36, 100, 256, 240, 108, 24, 101, 89, 618, 239, 174, 157, 1]
user 9 u_calibrate [49, 357, 24, 189, 89, 857, 78, 174, 256, 289, 133, 31, 108, 100, 260, 101, 329, 148, 52, 618]
user 10 u_calibrate [357, 49, 24, 31, 52, 189, 254, 367, 256, 77, 101, 209, 216, 161, 402, 321, 307, 239, 156, 191]
user 11 u_calibrate [161, 24, 201, 216, 136, 247, 31, 52, 26, 29, 364, 179, 402, 82, 114, 407, 57, 526, 23, 156]
user 12 u_calibrate [161, 24, 31, 216, 357, 136, 179, 256, 307, 52, 364, 77, 367, 402, 407, 57, 201, 68, 86, 49]
user 13 u_calibrate [161, 321, 31, 216, 24, 357, 254, 256, 307, 191, 240, 367, 469, 166, 239, 156, 57, 179, 320, 101]
user 14 u_calibrate [157, 95, 175, 52, 60, 49, 98, 24, 289, 645, 360, 357, 710, 1, 403, 139, 12, 117, 274, 189]
user 15 u_calibrate [82, 52, 95, 60, 216, 26, 201, 407, 31, 179, 136, 157, 748, 161, 367, 57, 454, 53, 320, 112]
user 16 u_calibrate [118, 108, 101, 273, 342, 34, 31, 256, 240, 100, 618, 494, 260, 191, 66, 247, 36, 536, 361, 99]
user 17 u_calibrate [161, 321, 31, 216, 247, 100, 256, 191, 254, 166, 53, 102, 432, 367, 469, 217, 101, 179, 99, 156]
user 18 u_calibrate [136, 649, 364, 402, 26, 23, 549, 14, 847, 278, 196, 68, 336, 140, 25, 97, 610, 77, 412, 216]
user 19 u_calibrate [174, 108, 118, 91, 260, 34, 256, 273, 842, 36, 100, 653, 558, 9, 342, 618, 31, 101, 200, 78]
user 20 u_calibrate [49, 52, 24, 77, 136, 86, 68, 60, 357, 364, 402, 83, 209, 140, 95, 189, 103, 500, 23, 340]
user 21 u_calibrate [118, 247, 174, 101, 100, 34, 256, 53, 367, 31, 342, 273, 50, 99, 361, 254, 217, 307, 57, 618]
user 22 u_calibrate [289, 489, 49, 357, 89, 36, 133, 842, 189, 108, 260, 174, 273, 125, 299, 653, 78, 200, 148, 58]
user 23 u_calibrate [174, 247, 118, 101, 100, 34, 260, 361, 108, 31, 254, 91, 367, 99, 494, 57, 78, 5, 273, 618]
user 24 u_calibrate [161, 247, 31, 216, 26, 29, 191, 347, 254, 179, 53, 156, 367, 469, 57, 166, 320, 102, 321, 217]
user 25 u_calibrate [161, 114, 23, 216, 26, 136, 402, 201, 247, 82, 142, 364, 526, 454, 31, 52, 57, 748, 179, 320]
user 26 u_calibrate [161, 95, 31, 82, 26, 52, 60, 216, 201, 136, 407, 179, 157, 357, 367, 53, 57, 156, 166, 320]
user 27 u_calibrate [289, 95, 645, 157, 49, 60, 357, 24, 98, 360, 77, 500, 10, 686, 489, 1, 710, 140, 68, 86]
user 28 u_calibrate [49, 357, 24, 77, 136, 68, 86, 52, 189, 209, 60, 83, 500, 402, 103, 686, 140, 355, 771, 431]
user 29 u_calibrate [289, 95, 645, 157, 60, 49, 357, 98, 24, 360, 710, 489, 500, 1, 77, 175, 52, 139, 403, 355]
user 30 u_calibrate [161, 24, 31, 216, 357, 179, 136, 256, 307, 52, 407, 53, 367, 201, 49, 57, 77, 95, 364, 320]
user 31 u_calibrate [161, 49, 321, 31, 357, 24, 254, 256, 367, 240, 101, 273, 216, 93, 618, 174, 189, 191, 217, 239]
user 32 u_calibrate [161, 321, 31, 216, 26, 191, 256, 254, 367, 53, 201, 102, 179, 101, 57, 407, 166, 239, 156, 217]
user 33 u_calibrate [161, 49, 24, 357, 31, 321, 254, 256, 216, 367, 100, 166, 240, 191, 469, 239, 101, 247, 189, 174]
user 34 u_calibrate [77, 10, 49, 24, 357, 60, 95, 157, 136, 68, 360, 289, 645, 83, 500, 140, 86, 686, 402, 364]
user 35 u_calibrate [48, 1170, 591, 98, 117, 40, 157, 343, 360, 509, 376, 582, 95, 280, 865, 72, 924, 482, 60, 875]
user 36 u_calibrate [289, 645, 489, 157, 1, 60, 40, 710, 360, 95, 742, 98, 243, 403, 846, 139, 43, 175, 269, 280]
user 37 u_calibrate [114, 82, 748, 26, 402, 136, 526, 142, 454, 364, 33, 216, 57, 208, 247, 23, 201, 368, 179, 161]
user 38 u_calibrate [118, 247, 91, 100, 53, 34, 361, 307, 99, 342, 50, 31, 166, 217, 101, 367, 254, 174, 57, 469]
user 39 u_calibrate [174, 108, 118, 101, 49, 273, 100, 31, 78, 256, 260, 34, 240, 618, 125, 357, 367, 494, 189, 200]
user 40 u_calibrate [289, 645, 489, 157, 1, 40, 60, 710, 360, 742, 403, 98, 243, 95, 139, 72, 104, 280, 846, 130]
user 41 u_calibrate [31, 321, 118, 289, 216, 256, 367, 100, 422, 200, 156, 166, 101, 66, 247, 49, 273, 347, 60, 329]
user 42 u_calibrate [49, 357, 24, 77, 136, 95, 60, 68, 402, 52, 140, 209, 83, 364, 360, 86, 500, 549, 189, 103]
user 43 u_calibrate [161, 26, 201, 216, 247, 136, 454, 31, 29, 526, 407, 57, 179, 82, 156, 114, 53, 402, 367, 320]
user 44 u_calibrate [289, 95, 645, 157, 49, 60, 24, 357, 77, 98, 360, 500, 10, 86, 686, 140, 1, 68, 175, 83]
user 45 u_calibrate [357, 49, 24, 77, 52, 31, 95, 136, 60, 189, 209, 402, 216, 101, 307, 68, 83, 500, 367, 686]
user 46 u_calibrate [77, 10, 49, 24, 402, 60, 136, 68, 95, 364, 83, 140, 52, 641, 86, 549, 209, 340, 141, 686]
user 47 u_calibrate [357, 49, 24, 77, 136, 95, 31, 256, 52, 68, 402, 307, 216, 140, 179, 209, 364, 86, 549, 57]
user 48 u_calibrate [49, 357, 24, 77, 136, 95, 60, 68, 52, 360, 500, 83, 402, 140, 189, 86, 364, 686, 209, 103]
user 49 u_calibrate [77, 10, 49, 24, 402, 60, 68, 136, 95, 140, 83, 641, 52, 364, 360, 86, 549, 500, 141, 357]
user 50 u_calibrate [710, 645, 95, 157, 104, 289, 40, 360, 1, 489, 98, 742, 60, 72, 403, 139, 846, 280, 117, 243]
user 51 u_calibrate [161, 247, 31, 216, 100, 321, 254, 361, 367, 357, 240, 101, 174, 24, 166, 469, 217, 99, 191, 49]
user 52 u_calibrate [174, 247, 31, 101, 189, 254, 100, 367, 361, 49, 24, 260, 357, 108, 200, 118, 216, 321, 217, 239]
user 53 u_calibrate [161, 31, 321, 216, 24, 256, 357, 254, 307, 367, 101, 191, 156, 239, 52, 247, 320, 407, 217, 49]
user 54 u_calibrate [114, 82, 311, 26, 454, 136, 216, 526, 201, 247, 142, 748, 57, 161, 179, 31, 407, 33, 156, 231]
user 55 u_calibrate [161, 24, 31, 216, 357, 179, 136, 256, 307, 407, 53, 367, 201, 57, 52, 239, 191, 156, 320, 166]
user 56 u_calibrate [49, 357, 24, 189, 52, 31, 857, 367, 209, 77, 256, 101, 289, 216, 500, 100, 402, 321, 686, 329]
user 57 u_calibrate [357, 49, 24, 77, 136, 60, 95, 68, 402, 52, 140, 209, 189, 307, 31, 86, 12, 364, 103, 549]
user 58 u_calibrate [118, 422, 347, 60, 157, 289, 95, 216, 31, 156, 477, 645, 309, 139, 200, 366, 320, 47, 1, 337]
user 59 u_calibrate [49, 357, 24, 189, 31, 52, 254, 367, 256, 174, 216, 101, 161, 239, 321, 100, 166, 240, 329, 273]
user 60 u_calibrate [118, 91, 247, 260, 34, 100, 108, 361, 174, 101, 494, 99, 486, 78, 254, 367, 57, 275, 238, 685]
user 61 u_calibrate [77, 140, 24, 402, 49, 136, 83, 68, 60, 86, 364, 641, 52, 340, 95, 549, 209, 141, 500, 131]
user 62 u_calibrate [10, 364, 77, 402, 24, 60, 95, 136, 49, 641, 549, 140, 68, 83, 153, 360, 86, 117, 426, 175]
user 63 u_calibrate [174, 49, 357, 108, 260, 125, 189, 100, 78, 101, 361, 24, 148, 247, 31, 133, 367, 91, 494, 200]
user 64 u_calibrate [49, 357, 24, 189, 289, 857, 52, 489, 31, 89, 60, 209, 686, 500, 77, 101, 355, 360, 95, 645]
user 65 u_calibrate [161, 26, 201, 216, 526, 136, 454, 247, 31, 29, 57, 114, 407, 82, 179, 156, 53, 748, 33, 320]
user 66 u_calibrate [289, 645, 489, 157, 1, 60, 40, 710, 360, 95, 742, 98, 72, 403, 104, 139, 846, 280, 243, 175]
user 67 u_calibrate [161, 247, 31, 26, 216, 114, 29, 191, 254, 469, 179, 53, 156, 367, 57, 320, 201, 244, 166, 217]
user 68 u_calibrate [357, 49, 24, 77, 136, 31, 367, 256, 52, 209, 189, 402, 216, 307, 68, 83, 103, 156, 239, 86]
user 69 u_calibrate [157, 98, 95, 289, 60, 645, 1, 710, 40, 360, 489, 742, 175, 117, 403, 139, 24, 43, 130, 269]
user 70 u_calibrate [161, 26, 23, 216, 136, 179, 402, 201, 364, 526, 454, 142, 57, 82, 247, 31, 114, 52, 140, 407]
user 71 u_calibrate [161, 179, 31, 26, 216, 101, 256, 407, 201, 247, 136, 53, 367, 57, 191, 156, 239, 166, 320, 102]
user 72 u_calibrate [161, 31, 95, 216, 256, 101, 26, 118, 191, 407, 166, 320, 156, 157, 60, 367, 53, 217, 347, 179]
user 73 u_calibrate [161, 95, 49, 60, 357, 157, 289, 24, 101, 254, 31, 52, 216, 645, 191, 367, 407, 175, 360, 240]
user 74 u_calibrate [77, 140, 24, 402, 49, 95, 68, 136, 60, 357, 52, 209, 83, 364, 86, 500, 360, 549, 189, 103]
user 75 u_calibrate [82, 293, 52, 142, 26, 748, 136, 526, 208, 216, 541, 95, 368, 364, 114, 407, 65, 454, 60, 554]
user 76 u_calibrate [117, 95, 52, 60, 157, 98, 24, 49, 175, 364, 77, 645, 140, 274, 86, 136, 402, 360, 549, 610]
user 77 u_calibrate [161, 191, 31, 216, 26, 101, 256, 254, 367, 357, 53, 179, 156, 321, 239, 57, 166, 469, 217, 407]
user 78 u_calibrate [161, 31, 95, 216, 101, 357, 26, 60, 191, 254, 240, 179, 112, 321, 49, 367, 407, 239, 57, 166]
user 79 u_calibrate [49, 357, 95, 77, 24, 60, 136, 157, 68, 645, 360, 402, 140, 83, 500, 52, 10, 289, 209, 175]
user 80 u_calibrate [842, 693, 289, 489, 118, 571, 1, 108, 536, 71, 565, 260, 539, 299, 133, 125, 273, 78, 89, 564]
user 81 u_calibrate [357, 49, 24, 52, 31, 136, 179, 68, 256, 307, 77, 367, 402, 216, 364, 57, 191, 140, 239, 86]
user 82 u_calibrate [357, 49, 24, 77, 52, 95, 60, 189, 136, 209, 31, 360, 83, 68, 402, 86, 500, 140, 289, 103]
user 83 u_calibrate [49, 357, 24, 189, 174, 254, 31, 367, 256, 52, 100, 273, 240, 329, 101, 89, 200, 78, 239, 108]
user 84 u_calibrate [77, 10, 60, 24, 49, 357, 95, 157, 98, 68, 360, 645, 289, 86, 140, 641, 175, 686, 402, 500]
user 85 u_calibrate [161, 24, 49, 357, 31, 52, 367, 254, 256, 216, 101, 321, 209, 307, 191, 239, 156, 320, 189, 217]
user 86 u_calibrate [77, 10, 49, 24, 402, 60, 95, 68, 136, 360, 83, 364, 140, 641, 357, 86, 686, 157, 52, 645]
user 87 u_calibrate [157, 95, 175, 82, 60, 98, 407, 309, 366, 216, 645, 47, 320, 748, 846, 166, 142, 201, 403, 269]
user 88 u_calibrate [49, 357, 24, 189, 174, 31, 254, 367, 256, 52, 273, 101, 240, 100, 108, 239, 78, 89, 618, 200]
user 89 u_calibrate [174, 78, 101, 118, 49, 108, 100, 260, 256, 273, 31, 367, 357, 240, 34, 125, 189, 247, 200, 254]
user 90 u_calibrate [161, 247, 31, 26, 216, 114, 29, 454, 118, 367, 53, 191, 156, 57, 320, 179, 469, 244, 526, 217]
user 91 u_calibrate [161, 31, 321, 216, 191, 256, 118, 101, 26, 367, 240, 357, 469, 166, 239, 618, 217, 112, 254, 49]
user 92 u_calibrate [161, 24, 31, 216, 357, 321, 256, 254, 307, 191, 367, 239, 156, 52, 49, 179, 53, 57, 101, 166]
user 93 u_calibrate [161, 31, 34, 118, 256, 273, 100, 367, 101, 174, 240, 618, 200, 321, 217, 216, 357, 254, 247, 191]
user 94 u_calibrate [357, 49, 24, 31, 161, 321, 254, 216, 256, 367, 52, 189, 100, 240, 166, 239, 191, 156, 329, 273]
user 95 u_calibrate [161, 24, 49, 357, 31, 254, 321, 256, 367, 216, 52, 100, 239, 166, 189, 191, 469, 240, 329, 217]
user 96 u_calibrate [161, 247, 201, 216, 26, 29, 31, 114, 136, 526, 407, 454, 57, 156, 320, 53, 179, 82, 217, 367]
user 97 u_calibrate [52, 364, 95, 136, 60, 49, 24, 77, 402, 68, 140, 86, 157, 23, 549, 25, 357, 209, 26, 216]
user 98 u_calibrate [357, 49, 24, 31, 52, 254, 95, 256, 161, 101, 216, 307, 77, 402, 367, 209, 156, 191, 320, 407]
user 99 u_calibrate [77, 140, 24, 402, 49, 95, 60, 68, 136, 357, 500, 83, 360, 86, 364, 52, 641, 209, 549, 645]
user 100 u_calibrate [118, 321, 174, 34, 100, 256, 31, 247, 260, 101, 367, 254, 217, 99, 91, 618, 57, 361, 342, 50]
user 101 u_calibrate [357, 49, 24, 52, 31, 95, 189, 60, 77, 136, 209, 289, 12, 216, 402, 101, 157, 161, 140, 367]
user 102 u_calibrate [174, 78, 101, 118, 260, 34, 100, 108, 256, 254, 31, 91, 367, 273, 494, 99, 5, 247, 189, 57]
user 103 u_calibrate [357, 49, 24, 77, 52, 31, 95, 136, 256, 216, 307, 68, 161, 367, 239, 402, 140, 83, 209, 60]
user 104 u_calibrate [49, 357, 24, 189, 289, 857, 95, 52, 60, 209, 77, 31, 12, 500, 360, 89, 367, 101, 686, 216]
user 105 u_calibrate [157, 60, 95, 52, 216, 645, 289, 31, 347, 98, 26, 422, 49, 320, 156, 407, 367, 357, 139, 1]
user 106 u_calibrate [710, 645, 95, 157, 1, 289, 60, 40, 360, 489, 742, 98, 72, 403, 104, 139, 846, 280, 175, 130]
user 107 u_calibrate [77, 10, 49, 24, 357, 60, 95, 68, 136, 360, 402, 686, 140, 500, 86, 364, 52, 83, 157, 645]
user 108 u_calibrate [174, 108, 118, 101, 260, 34, 78, 100, 273, 256, 494, 842, 558, 91, 31, 36, 685, 240, 342, 288]
user 109 u_calibrate [289, 645, 95, 157, 1, 60, 710, 489, 360, 40, 139, 742, 98, 49, 175, 403, 24, 130, 357, 117]
user 110 u_calibrate [161, 26, 201, 216, 526, 136, 454, 247, 748, 82, 142, 57, 114, 31, 407, 179, 156, 402, 33, 231]
user 111 u_calibrate [114, 57, 311, 216, 526, 26, 454, 156, 247, 29, 136, 82, 172, 161, 33, 320, 201, 244, 748, 179]
user 112 u_calibrate [289, 357, 49, 489, 31, 189, 118, 101, 273, 256, 24, 240, 174, 157, 216, 321, 618, 200, 36, 161]
user 113 u_calibrate [77, 10, 49, 24, 357, 60, 95, 68, 136, 360, 289, 645, 157, 83, 500, 140, 86, 402, 686, 364]
user 114 u_calibrate [174, 78, 101, 118, 260, 34, 100, 108, 494, 91, 5, 361, 240, 618, 31, 247, 273, 685, 125, 99]
user 115 u_calibrate [77, 10, 49, 24, 357, 60, 95, 157, 98, 360, 68, 645, 289, 86, 140, 641, 686, 175, 402, 500]
user 116 u_calibrate [23, 549, 24, 402, 136, 364, 847, 216, 196, 140, 649, 278, 77, 52, 26, 641, 610, 25, 209, 68]
user 117 u_calibrate [364, 402, 196, 136, 24, 949, 141, 549, 336, 140, 641, 23, 649, 278, 77, 340, 209, 86, 120, 25]
user 118 u_calibrate [161, 247, 31, 216, 26, 52, 136, 256, 179, 407, 156, 53, 367, 77, 57, 201, 320, 191, 49, 239]
user 119 u_calibrate [161, 201, 26, 216, 179, 136, 407, 31, 29, 247, 57, 367, 52, 53, 364, 191, 82, 320, 156, 526]
user 120 u_calibrate [157, 175, 95, 357, 60, 49, 98, 24, 360, 289, 645, 77, 10, 500, 1, 710, 86, 140, 641, 117]
user 121 u_calibrate [161, 24, 49, 357, 31, 52, 136, 367, 216, 256, 77, 307, 68, 179, 239, 156, 57, 191, 209, 101]
user 122 u_calibrate [289, 49, 357, 24, 189, 31, 489, 254, 256, 52, 157, 273, 360, 95, 101, 89, 216, 645, 240, 1]
user 123 u_calibrate [77, 10, 49, 24, 357, 60, 95, 136, 68, 402, 360, 140, 157, 83, 645, 500, 209, 289, 86, 364]
user 124 u_calibrate [49, 357, 24, 289, 31, 189, 321, 254, 256, 367, 216, 161, 273, 101, 240, 52, 239, 100, 95, 166]
user 125 u_calibrate [161, 321, 31, 216, 24, 254, 357, 256, 367, 100, 240, 191, 469, 166, 239, 156, 217, 329, 49, 273]
user 126 u_calibrate [161, 31, 191, 216, 26, 256, 101, 367, 254, 179, 156, 239, 357, 57, 166, 53, 321, 49, 247, 407]
user 127 u_calibrate [161, 23, 24, 216, 136, 364, 196, 402, 140, 52, 847, 549, 26, 68, 86, 77, 278, 649, 25, 209]
user 128 u_calibrate [161, 49, 321, 31, 24, 254, 357, 256, 367, 216, 100, 273, 240, 191, 101, 166, 239, 247, 189, 174]
user 129 u_calibrate [174, 78, 101, 118, 34, 260, 100, 108, 256, 31, 494, 273, 247, 618, 240, 91, 254, 5, 367, 99]
user 130 u_calibrate [77, 10, 49, 24, 402, 60, 95, 68, 136, 360, 686, 140, 83, 364, 157, 357, 86, 641, 645, 52]
user 131 u_calibrate [161, 31, 321, 216, 24, 357, 254, 256, 367, 307, 240, 191, 469, 166, 239, 156, 57, 179, 101, 49]
user 132 u_calibrate [289, 95, 645, 157, 1, 357, 60, 49, 489, 31, 273, 101, 240, 24, 360, 161, 216, 166, 189, 200]
user 133 u_calibrate [117, 95, 77, 10, 60, 157, 24, 49, 98, 360, 289, 175, 641, 140, 86, 68, 645, 686, 710, 1]
user 134 u_calibrate [710, 645, 489, 157, 1, 289, 60, 40, 360, 95, 742, 98, 72, 403, 139, 104, 846, 280, 243, 175]
user 135 u_calibrate [289, 645, 489, 157, 1, 60, 40, 710, 360, 95, 742, 98, 72, 403, 139, 104, 846, 280, 243, 175]
user 136 u_calibrate [161, 24, 31, 216, 357, 179, 136, 256, 307, 407, 52, 53, 367, 201, 239, 57, 191, 49, 166, 320]
user 137 u_calibrate [49, 357, 24, 189, 857, 52, 31, 289, 367, 209, 89, 256, 77, 686, 101, 500, 100, 329, 148, 174]
user 138 u_calibrate [161, 247, 31, 216, 26, 321, 29, 191, 254, 469, 179, 53, 156, 367, 57, 347, 166, 102, 320, 407]
user 139 u_calibrate [174, 321, 118, 34, 100, 31, 256, 260, 108, 101, 247, 240, 357, 254, 367, 273, 49, 217, 78, 24]
user 140 u_calibrate [49, 357, 24, 289, 189, 31, 52, 489, 857, 256, 89, 157, 101, 360, 95, 216, 645, 174, 618, 239]
user 141 u_calibrate [49, 357, 95, 77, 24, 60, 157, 98, 360, 289, 645, 500, 10, 686, 86, 140, 68, 1, 83, 641]
user 142 u_calibrate [710, 1, 403, 72, 157, 60, 40, 645, 98, 360, 289, 95, 742, 139, 489, 280, 48, 509, 1117, 846]
user 143 u_calibrate [161, 321, 31, 216, 26, 256, 191, 254, 367, 53, 102, 166, 469, 101, 57, 179, 239, 217, 156, 320]
user 144 u_calibrate [357, 49, 24, 31, 52, 254, 367, 256, 161, 216, 101, 307, 77, 209, 402, 321, 189, 156, 191, 239]
user 145 u_calibrate [157, 95, 175, 60, 52, 43, 645, 289, 98, 710, 24, 360, 403, 117, 139, 269, 1, 274, 49, 339]
user 146 u_calibrate [289, 645, 95, 157, 104, 40, 360, 710, 489, 98, 60, 1, 742, 175, 139, 403, 117, 130, 24, 509]
user 147 u_calibrate [161, 321, 31, 26, 216, 357, 179, 256, 407, 136, 367, 53, 201, 57, 191, 239, 156, 166, 320, 49]
user 148 u_calibrate [289, 645, 95, 157, 1, 60, 357, 489, 139, 360, 49, 710, 31, 403, 98, 189, 200, 101, 273, 240]
user 149 u_calibrate [161, 31, 321, 216, 191, 100, 118, 256, 367, 240, 357, 166, 101, 273, 24, 239, 247, 254, 469, 217]
user 150 u_calibrate [289, 49, 357, 489, 118, 273, 189, 31, 100, 256, 108, 240, 618, 101, 1, 174, 89, 125, 157, 200]
user 151 u_calibrate [52, 364, 24, 136, 216, 402, 77, 86, 60, 357, 140, 68, 23, 26, 549, 95, 209, 49, 83, 641]
user 152 u_calibrate [289, 645, 95, 157, 1, 60, 40, 710, 360, 489, 742, 98, 139, 403, 117, 175, 43, 72, 280, 130]
user 153 u_calibrate [161, 321, 31, 216, 247, 100, 256, 254, 191, 101, 367, 469, 217, 166, 53, 156, 432, 320, 357, 99]
user 154 u_calibrate [49, 357, 24, 289, 857, 189, 95, 60, 209, 77, 52, 360, 645, 489, 500, 686, 140, 157, 1, 86]
user 155 u_calibrate [710, 645, 95, 157, 104, 289, 40, 360, 1, 489, 742, 98, 60, 72, 403, 139, 175, 1117, 130, 117]
user 156 u_calibrate [289, 49, 357, 489, 189, 157, 1, 273, 60, 645, 89, 24, 360, 95, 31, 101, 240, 174, 108, 200]
user 157 u_calibrate [357, 49, 24, 31, 52, 189, 367, 254, 161, 256, 216, 101, 321, 209, 200, 77, 100, 166, 239, 191]
user 158 u_calibrate [52, 49, 95, 60, 157, 357, 24, 31, 136, 216, 175, 645, 289, 101, 189, 209, 367, 77, 407, 26]
user 159 u_calibrate [161, 31, 34, 273, 101, 118, 191, 100, 256, 240, 367, 321, 99, 166, 357, 216, 247, 217, 618, 36]
user 160 u_calibrate [710, 645, 95, 157, 104, 289, 40, 360, 1, 98, 489, 742, 60, 117, 403, 139, 72, 175, 1117, 130]
user 161 u_calibrate [77, 140, 24, 402, 364, 136, 83, 49, 68, 847, 86, 641, 23, 549, 340, 649, 278, 52, 336, 209]
user 162 u_calibrate [49, 357, 24, 189, 174, 857, 31, 367, 52, 361, 209, 148, 101, 77, 100, 329, 686, 200, 156, 500]
user 163 u_calibrate [710, 645, 95, 157, 104, 289, 40, 360, 1, 489, 742, 98, 60, 72, 403, 139, 175, 130, 1117, 243]
user 164 u_calibrate [289, 645, 489, 157, 1, 60, 40, 710, 360, 95, 742, 98, 139, 403, 72, 104, 243, 175, 1117, 130]
user 165 u_calibrate [161, 31, 321, 216, 24, 357, 254, 256, 367, 307, 240, 191, 469, 166, 239, 49, 101, 217, 156, 179]
user 166 u_calibrate [77, 95, 645, 357, 49, 24, 60, 157, 98, 360, 289, 68, 10, 86, 500, 140, 175, 686, 1, 641]
user 167 u_calibrate [157, 98, 95, 289, 60, 645, 49, 24, 357, 360, 710, 77, 489, 500, 1, 175, 10, 117, 139, 403]
user 168 u_calibrate [710, 645, 95, 157, 1, 289, 60, 40, 360, 489, 742, 98, 72, 403, 175, 104, 130, 117, 139, 280]
user 169 u_calibrate [49, 357, 24, 289, 857, 189, 95, 60, 77, 360, 52, 500, 489, 645, 686, 209, 1, 103, 89, 86]
user 170 u_calibrate [289, 645, 489, 157, 1, 60, 40, 710, 360, 95, 742, 98, 139, 403, 72, 243, 104, 175, 1117, 130]
user 171 u_calibrate [710, 645, 95, 157, 1, 289, 60, 40, 360, 489, 742, 98, 139, 403, 72, 104, 175, 130, 1117, 243]
user 172 u_calibrate [289, 645, 95, 157, 1, 60, 710, 489, 360, 40, 139, 98, 742, 175, 49, 403, 24, 130, 357, 117]
user 173 u_calibrate [289, 95, 357, 49, 60, 157, 24, 101, 1, 31, 52, 216, 161, 645, 360, 489, 240, 189, 191, 239]

In [21]:
np.save("reco_mat_test", retVal)

In [28]:
retVal.__len__()

943

In [40]:
p = np.array([0.1, 0.3, 0.6])
q = np.array([0.3, 0.4, 0.3])
# qË(Ð´|u) = (1 â Î±) Â· q(Ð´|u) + Î± Â· p(Ð´|u)
q_t = (1 - 0.01) * q + 0.01 * p
print(q_t)

[0.298 0.399 0.303]

In [34]:
movies[793:794]

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,itemID,genres
265,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,793,

In [35]:
movies[movies["genres"]==""]

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,itemID,genres
265,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,793,

In [34]:
scores[0][1]

4.4314069747924805

In [ ]:
sum(
    [
        0.0,
        0.01923077,
        0.0,
        0.11965812,
        0.0,
        0.02136753,
        0.0,
        0.00641026,
        0.0,
        0.02564101,
        0.5769231,
        0.02777778,
        0.01282051,
        0.0,
        0.0,
        0.0,
        0.01495726,
        0.0,
        0.17521365,
    ]
)

0.99999999

In [ ]:
item_index = movies.index.get_loc(0)
item_index

24

In [ ]:
reco = [1, 23, 4]
reco_2 = np.array(reco)
reco_2.flatten()

array([ 1, 23,  4])

In [ ]:
nonzero_indices = np.where(p_dist != 0)

In [ ]:
nonzero_indices

(array([0, 2]),)

In [1]:
movies

NameError: name 'movies' is not defined

In [25]:
actual_genre_dist = pd.read_csv(
            os.path.join(config["user_genre_dist_file"]),
            sep="\t",
        )
actual_genre_dist = actual_genre_dist.sort_values(by="userID")
x = pd.merge(
            actual_genre_dist, users, on="userID"
        )
x = x.groupby(sensitive_attr)[
            unique_genres
        ].mean()
x

,Action,Thriller,Romance,Western,Children's,Mystery,Fantasy,Film-Noir,Documentary,Comedy,Adventure,Sci-Fi,Horror,Crime,Musical,War,Animation,Drama
Occupation_Code,,,,,,,,,,,,,,,,,,
0,0.095032,0.101878,0.087882,0.006552,0.028753,0.025823,0.002530,0.005189,0.004081,0.173096,0.044490,0.041599,0.027925,0.033555,0.018150,0.035021,0.011738,0.256631
1,0.073128,0.088305,0.094621,0.007067,0.019756,0.027514,0.002664,0.007762,0.008769,0.168835,0.036485,0.038294,0.021778,0.032194,0.017760,0.041123,0.009702,0.304208
2,0.086279,0.113704,0.074507,0.004721,0.020429,0.035599,0.002058,0.011593,0.014286,0.153455,0.038676,0.048490,0.035978,0.039742,0.018879,0.030544,0.013597,0.257239
3,0.091096,0.100403,0.093103,0.006897,0.020257,0.025494,0.003149,0.006884,0.004571,0.185989,0.041992,0.042147,0.026972,0.034402,0.016116,0.037194,0.007642,0.255691
6,0.090982,0.118551,0.091389,0.004879,0.022348,0.026883,0.003624,0.006494,0.009669,0.157420,0.042403,0.033956,0.017687,0.031893,0.016840,0.037910,0.009599,0.277473
7,0.093444,0.111974,0.078046,0.005952,0.024510,0.033220,0.003652,0.005788,0.003601,0.176895,0.043949,0.044911,0.025041,0.034629,0.014947,0.034374,0.010732,0.254336
9,0.122219,0.157505,0.063421,0.000000,0.029517,0.054983,0.003323,0.004210,0.006638,0.178245,0.040776,0.038298,0.016817,0.039565,0.012154,0.028524,0.005396,0.198409
10,0.108874,0.107036,0.083767,0.006704,0.027948,0.022366,0.003665,0.004912,0.004380,0.183248,0.050137,0.051949,0.035274,0.033230,0.016439,0.030071,0.013954,0.216026
11,0.084759,0.103690,0.099115,0.008908,0.023498,0.031865,0.001846,0.009614,0.007435,0.192014,0.032027,0.035946,0.017774,0.030509,0.020561,0.038333,0.008573,0.253533
12,0.112317,0.103023,0.071374,0.009826,0.026353,0.021774,0.003476,0.008581,0.005586,0.175431,0.051788,0.058794,0.023496,0.038084,0.016283,0.037886,0.013033,0.222243
13,0.074849,0.096412,0.089780,0.012966,0.017975,0.031354,0.003186,0.009305,0.006233,0.184791,0.035241,0.031572,0.017221,0.037006,0.018366,0.042048,0.005182,0.286513
14,0.095284,0.119377,0.076593,0.005045,0.022738,0.034400,0.002192,0.009351,0.005052,0.155901,0.035362,0.038683,0.030456,0.039604,0.015552,0.042381,0.008221,0.263806
15,0.098038,0.098998,0.087691,0.005691,0.017687,0.030364,0.002536,0.006765,0.007422,0.143567,0.044849,0.058998,0.019213,0.035301,0.014854,0.044978,0.007784,0.275263
17,0.106205,0.100949,0.077619,0.009808,0.026160,0.023135,0.003252,0.005818,0.005597,0.175972,0.052922,0.055086,0.022561,0.031105,0.018521,0.040569,0.014925,0.229722
20,0.081598,0.108174,0.081182,0.008119,0.022796,0.034279,0.003021,0.009041,0.007327,0.164049,0.038924,0.042405,0.043950,0.039919,0.017235,0.029196,0.010513,0.258188

In [46]:
total_sum = x.sum()
total_sum

Action         1.414103
Thriller       1.629980
Romance        1.250090
Western        0.103136
Children's     0.350728
Mystery        0.459053
Fantasy        0.044175
Film-Noir      0.111304
Documentary    0.100646
Comedy         2.568908
Adventure      0.630022
Sci-Fi         0.661128
Horror         0.382142
Crime          0.530740
Musical        0.252659
War            0.550151
Animation      0.150592
Drama          3.809281
dtype: float64

In [27]:

sum_except_self = x.apply(lambda row: total_sum - row, axis=1)
sum_except_self

,Action,Thriller,Romance,Western,Children's,Mystery,Fantasy,Film-Noir,Documentary,Comedy,Adventure,Sci-Fi,Horror,Crime,Musical,War,Animation,Drama
Occupation_Code,,,,,,,,,,,,,,,,,,
0,1.319071,1.528102,1.162207,0.096584,0.321974,0.433231,0.041644,0.106116,0.096565,2.395812,0.585533,0.619529,0.354217,0.497184,0.234509,0.515130,0.138853,3.552651
1,1.340975,1.541675,1.155468,0.096069,0.330972,0.431539,0.041511,0.103543,0.091878,2.400073,0.593538,0.622834,0.360364,0.498545,0.234899,0.509028,0.140890,3.505073
2,1.327824,1.516276,1.175583,0.098415,0.330298,0.423454,0.042117,0.099711,0.086361,2.415452,0.591346,0.612638,0.346164,0.490998,0.233779,0.519607,0.136995,3.552043
3,1.323007,1.529577,1.156987,0.096239,0.330470,0.433560,0.041026,0.104421,0.096076,2.382919,0.588030,0.618981,0.355170,0.496337,0.236543,0.512957,0.142949,3.553590
6,1.323121,1.511429,1.158701,0.098257,0.328380,0.432171,0.040551,0.104811,0.090978,2.411487,0.587620,0.627172,0.364455,0.498846,0.235818,0.512241,0.140992,3.531808
7,1.320659,1.518005,1.172044,0.097185,0.326217,0.425833,0.040523,0.105517,0.097045,2.392013,0.586073,0.616217,0.357101,0.496111,0.237712,0.515778,0.139860,3.554945
9,1.291884,1.472475,1.186669,0.103136,0.321210,0.404070,0.040851,0.107095,0.094009,2.390663,0.589247,0.622830,0.365325,0.491175,0.240504,0.521627,0.145195,3.610873
10,1.305229,1.522944,1.166323,0.096432,0.322780,0.436687,0.040510,0.106392,0.096267,2.385659,0.579885,0.609179,0.346868,0.497509,0.236220,0.520080,0.136638,3.593255
11,1.329344,1.526290,1.150974,0.094228,0.327229,0.427188,0.042329,0.101691,0.093211,2.376894,0.597995,0.625182,0.364368,0.500231,0.232098,0.511818,0.142019,3.555748
12,1.301786,1.526957,1.178715,0.093310,0.324375,0.437280,0.040699,0.102724,0.095060,2.393477,0.578235,0.602334,0.358646,0.492656,0.236376,0.512265,0.137559,3.587038
13,1.339254,1.533568,1.160310,0.090170,0.332753,0.427699,0.040989,0.102000,0.094413,2.384116,0.594782,0.629556,0.364921,0.493733,0.234293,0.508104,0.145410,3.522768
14,1.318819,1.510603,1.173497,0.098091,0.327989,0.424653,0.041983,0.101954,0.095594,2.413006,0.594660,0.622445,0.351686,0.491135,0.237107,0.507771,0.142371,3.545475
15,1.316065,1.530982,1.162399,0.097445,0.333040,0.428689,0.041639,0.104540,0.093224,2.425340,0.585174,0.602131,0.362929,0.495439,0.237804,0.505173,0.142807,3.534018
17,1.307898,1.529031,1.172471,0.093328,0.324567,0.435918,0.040922,0.105486,0.095049,2.392936,0.577100,0.606042,0.359581,0.499634,0.234138,0.509582,0.135667,3.579560
20,1.332505,1.521806,1.168908,0.095017,0.327931,0.424774,0.041153,0.102263,0.093319,2.404859,0.591098,0.618723,0.338192,0.490821,0.235424,0.520955,0.140079,3.551093

In [32]:

sum_except_self.sort_index(ascending=True).to_numpy()[0]

array([1.31907121, 1.52810153, 1.16220731, 0.09658408, 0.32197414,
       0.43323066, 0.0416444 , 0.10611577, 0.09656508, 2.39581206,
       0.58553256, 0.61952947, 0.35421677, 0.49718446, 0.23450911,
       0.5151305 , 0.13885339, 3.55265061])

In [37]:
print(int(users[users["userID"]==1]["Occupation_Code"]))

7

/var/folders/x3/dln8h72x52l1m7szndwhlw6r0000gn/T/ipykernel_13180/2629660332.py:1: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(int(users[users["userID"]==1]["Occupation_Code"]))

In [39]:
occupation_code = users.loc[users["userID"] == 1, "Occupation_Code"].item()
occupation_code

7

In [83]:
users[users["Occupation_Code"]==4]

Empty DataFrame
Columns: [user_id, Age, Gender, Occupation, ZipCode, userID, Occupation_Code]
Index: []

In [18]:
users

     user_id  Age  Gender  Occupation ZipCode  userID  Occupation_Code
195      196   49       0      writer   55105       0               20
185      186   39       1   executive   00000       1                6
21        22   25       0      writer   40206       2               20
243      244   28       0  technician   80525       3               19
165      166   47       0    educator   55113       4                3
..       ...  ...     ...         ...     ...     ...              ...
938      939   26       1     student   33319     938               18
935      936   24       0       other   32789     939               13
929      930   28       1   scientist   07310     940               17
919      920   30       1      artist   90008     941                1
940      941   20       0     student   97229     942               18

[943 rows x 7 columns]

In [17]:
0.5*0.99+0.01*0.26886745

0.4976886745

In [13]:
for i, genre in enumerate(unique_genres):
    print(i)
    print(genre)

0
Action
1
Thriller
2
Romance
3
Western
4
Children's
5
Mystery
6
Fantasy
7
Film-Noir
8
Documentary
9
Comedy
10
Adventure
11
Sci-Fi
12
Horror
13
Crime
14
Musical
15
War
16
Animation
17
Drama

In [14]:
2*(0.2*0.01+0.99*0.02)

0.0436

In [15]:
(0.2*0.01+0.99*0.04)

0.041600000000000005

In [17]:
0.895958*0.000353

0.000316273174