In [4]:
import matplotlib.pyplot as plt
# import seaborn as sns
import pandas as pd

In [10]:
rating_data_pd = pd.read_csv(
    "../data/ml-100K/training_set_seed123_ml100k.csv",
    sep=",",
    names=["userID", "itemID", "Rating"],
)
rating_data = rating_data_pd.to_numpy()
rating_data.__len__()
rating_data_pd

       userID  itemID  Rating
0         101     177       4
1         101     289       4
2         101     153       4
3         101     361       4
4         101     321       4
...       ...     ...     ...
79034     724     551       5
79035     724      51       4
79036     724    1014       4
79037     724      98       3
79038     724     874       4

[79039 rows x 3 columns]

In [12]:

movie = '../data/ml-100K/i_id_mapping_genre.csv'

df_movie = pd.read_csv(movie, sep='\t')
print(f'shape: {df_movie.shape}')


df_movie.columns = ["item_id", "Name","genres","itemID"]
df_movie[:4]
movies = df_movie.sort_values(by="itemID")
unique_genres = [
    "Action",
    "Thriller",
    "Romance",
    "Western",
    "Children's",
    "Mystery",
    "Fantasy",
    "Film-Noir",
    "Documentary",
    "Comedy",
    "Adventure",
    "Sci-Fi",
    "Horror",
    "Crime",
    "Musical",
    "War",
    "Animation",
    "Drama",
]
for genre in unique_genres:
    movies[genre] = 0
    
for index, row in movies.iterrows():
    genres = row["genres"].split("|")
    for genre in genres:
        movies.at[index, genre] = 1
movies

movies = movies.drop(columns=["item_id"])
movies = movies.sort_values(by="itemID")
movies

shape: (1348, 4)

,Name,genres,itemID,Action,Thriller,Romance,Western,Children's,Mystery,Fantasy,...,Documentary,Comedy,Adventure,Sci-Fi,Horror,Crime,Musical,War,Animation,Drama
0,Kolya (1996),Comedy,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,L.A. Confidential (1997),Thriller|Mystery|Film-Noir|Crime,1,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
2,Heavyweights (1994),Children's|Comedy,2,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,Legends of the Fall (1994),Romance|Western|War|Drama,3,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,Jackie Brown (1997),Crime|Drama,4,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1343,American Buffalo (1996),Drama,1343,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1344,A Chef in Love (1996),Comedy,1344,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1345,Nénette et Boni (1996),Drama,1345,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1346,Hollow Reed (1996),Drama,1346,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1347,Getting Even with Dad (1994),Comedy,1347,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [13]:
users = pd.read_csv("../data/ml-100k/u_id_mapping_demographic_.csv", sep="\t")
# users
users = users.sort_values(by="userID")
users = users.drop(columns=users.columns[0])
gender_map = {"M": 0, "F": 1}
users["Gender"] = users["Gender"].map(gender_map)
# user_features_numpy = users.to_numpy()
users

     Age  Gender  Occupation ZipCode  userID  Occupation_Code
195   49       0      writer   55105       0               20
185   39       1   executive   00000       1                6
21    25       0      writer   40206       2               20
243   28       0  technician   80525       3               19
165   47       0    educator   55113       4                3
..   ...     ...         ...     ...     ...              ...
938   26       1     student   33319     938               18
935   24       0       other   32789     939               13
929   28       1   scientist   07310     940               17
919   30       1      artist   90008     941                1
940   20       0     student   97229     942               18

[943 rows x 6 columns]