In [1]:
from cornac.data import Reader
from cornac.datasets import movielens
from cornac.data import Dataset, FeatureModality
from cornac.eval_methods import RatioSplit, StratifiedSplit
from cornac.metrics import RMSE
from cornac.models import  ItemKNN, UserKNN, NMF, BPR, MF,VAECF, NeuMF,PMF, WMF
# from MF import MF
import pandas as pd
import numpy as np
import cornac
import math
# import seaborn as sns
# import matplotlib.pyplot as plt

/Users/tahsinalamgirkheya/anaconda3/envs/re-ranking/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
# rating_data_pd = pd.read_csv(
#     "../data/ml-100K/indexed_interactions.csv",
#     sep="\t",
#     header=0,
#     names=["itemID","_","userID", "Rating", "Gender"],
# )
# # itemID	actual_category	userID	Rating	Gender

# rating_data = rating_data_pd.to_numpy()
# rating_data.__len__()
# rating_data_pd

reader = Reader()
rating_data_pd = pd.read_csv(
    "../data/yelp-100K/indexed_interactions.csv",
    sep="\t",
    header=0,
    names=[ "itemID","Category", "userID","Rating", "Gender"],
)
rating_data = rating_data_pd[["userID", "itemID","Rating"]].to_numpy()
rating_data.__len__()
rating_data_pd

       itemID                             Category  userID  Rating Gender
0           0  Food & Restaurants|Drinks & Spirits       0       5      F
1           0  Food & Restaurants|Drinks & Spirits       1       4      F
2           0  Food & Restaurants|Drinks & Spirits       2       5      F
3           0  Food & Restaurants|Drinks & Spirits       3       3      M
4           0  Food & Restaurants|Drinks & Spirits       4       3      F
...       ...                                  ...     ...     ...    ...
97986    1271                   Food & Restaurants    1060       3      F
97987    1271                   Food & Restaurants     161       2      M
97988    1271                   Food & Restaurants      25       3      F
97989    1271                   Food & Restaurants     280       4      F
97990    1271                   Food & Restaurants     955       5      F

[97991 rows x 5 columns]

In [3]:

restaurants = pd.read_csv("../data/yelp-100K/i_id_mapping.csv",sep="\t",
    header=0,
    names=[ "item_id","Category","itemID"])
restaurants=restaurants.sort_values(by="itemID")

unique_categories = [
    "Active Life & Fitness",
    "Arts & Entertainment",
    "Automotive",
    "Bars & Nightlife",
    "Coffee,Tea & Desserts",
    "Drinks & Spirits",
    "Education & Learning",
    "Event Services",
    "Family & Kids",
    "Food & Restaurants",
    "Health & Beauty",
    "Home & Garden",
    "Miscellaneous",
    "Outdoor Activities",
    "Public Services & Community",
    "Shopping & Fashion",
    "Specialty Food & Groceries",
    "Sports & Recreation",
    "Technology & Electronics",
    "Travel & Transportation",
    "Asian",
]
for c in unique_categories:
    restaurants[c] = 0
for index, row in restaurants.iterrows():
    cats = row["Category"].split("|")
    for cat in cats:
        restaurants.at[index, cat] = 1

cat = restaurants[unique_categories]
# cat[:1]
item_features_numpy = cat.to_numpy()
item_features = {
    str(item_id): {"category_" + str(idx): value for idx, value in enumerate(row)}
    for item_id, row in enumerate(item_features_numpy)
}
# ids = list(range(0, 3416))

In [4]:
restaurants

,item_id,Category,itemID,Active Life & Fitness,Arts & Entertainment,Automotive,Bars & Nightlife,"Coffee,Tea & Desserts",Drinks & Spirits,Education & Learning,...,Home & Garden,Miscellaneous,Outdoor Activities,Public Services & Community,Shopping & Fashion,Specialty Food & Groceries,Sports & Recreation,Technology & Electronics,Travel & Transportation,Asian
0,34,Food & Restaurants|Drinks & Spirits,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,250,Food & Restaurants|Drinks & Spirits,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,759,Asian|Food & Restaurants,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1085,Food & Restaurants,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1122,Travel & Transportation,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1267,188255,Food & Restaurants,1267,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1268,188310,Food & Restaurants,1268,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1269,188449,Food & Restaurants|Bars & Nightlife,1269,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1270,188454,Food & Restaurants,1270,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1271,188578,Food & Restaurants,1271,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:

users = pd.read_csv("../data/yelp-100K/u_id_mapping.csv", sep="\t",header=0,
    names=[ "user_id","Gender","userID"])
gender_map = {"M": 0, "F": 1}
users["Gender"] = users["Gender"].map(gender_map)
users = users.sort_values(by="userID")
users = users[["Gender", "userID"]]

user_features_numpy = users.to_numpy()
print(user_features_numpy.shape)
# print(item_features_numpy.shape)

(1316, 2)

In [6]:
dataset = rating_data
dataset

array([[   0,    0,    5],
       [   1,    0,    4],
       [   2,    0,    5],
       ...,
       [  25, 1271,    3],
       [ 280, 1271,    4],
       [ 955, 1271,    5]])

In [7]:
users

      Gender  userID
0          1       0
1          1       1
2          1       2
3          0       3
4          1       4
...      ...     ...
1311       0    1311
1312       1    1312
1313       1    1313
1314       0    1314
1315       0    1315

[1316 rows x 2 columns]

In [8]:
# ratio_split = StratifiedSplit(
#     data=dataset,
#     test_size=0.2,
#     rating_threshold=0.0,
#     seed=123,
#     verbose=True,
#     chrono=True,
# )
ratio_split = StratifiedSplit(
    data=dataset,
    test_size=0.2,
    rating_threshold=0,
    # val_size=0.1,
    seed=123,
    verbose=True,fmt="UIR"
)

hr_10 = cornac.metrics.HitRatio(k=20)
ndcg_10 = cornac.metrics.NDCG(k=20)
recall_10 = cornac.metrics.Recall(k=20)
prec_10 = cornac.metrics.Precision(k=20)
auc = cornac.metrics.AUC()
map = cornac.metrics.MAP()

epochs = [20, 40, 60, 80, 100]
models = []
# class cornac.models.vaecf.recom_vaecf.
# VAECF(name='VAECF', k=10, autoencoder_structure=[20], act_fn='tanh',
# likelihood='mult', n_epochs=100, batch_size=100, learning_rate=0.001, beta=1.0, trainable=True, verbose=False, seed=None, use_gpu=False)[source]
# for i in range(len(epochs)):
#     models.append(
#     #    PMF(k=5, max_iter=epochs[i], learning_rate=0.001, gamma=0.9, lambda_reg=0.001, name=f'PMF{epochs[i]}', variant='linear', trainable=True, verbose=True, init_params=None, seed=123)
#        WMF(name=f'WMF{epochs[i]}', k=200, lambda_u=0.01, lambda_v=0.01, a=1, b=0.01, learning_rate=0.001, batch_size=128, max_iter=epochs[i], trainable=True, verbose=True, init_params=None, seed=123)
#     )
model = WMF(name=f'WMF{100}', k=200, lambda_u=0.01, lambda_v=0.01, a=1, b=0.01, learning_rate=0.001, batch_size=128, max_iter=100, trainable=True, verbose=True, init_params=None, seed=123)

# model = MF(
#             name=f"MF{40}",
#             k=10,
#             backend="cpu",
#             optimizer="adam",
#             max_iter=40,
#             learning_rate=0.01,
#             batch_size=256,
#             lambda_reg=0.02,
#             dropout=0.0,
#             use_bias=True,
#             early_stop=False,
#             num_threads=0,
#             trainable=True,
#             verbose=False,
#             init_params=None,
#             seed=123,
#         )

# model =  NeuMF(
#            name=f"NeuMFe={80}",
#             num_factors=8,
#             layers=( 32, 16, 8),
#             act_fn="sigmoid",
#             reg=0.0,
#             num_epochs=80,
#             batch_size=256,
#             num_neg=3,
#             lr=0.001,
#             learner="adam",
#             backend="tensorflow",
#             early_stopping=None,
#             trainable=True,
#             verbose=True,
#             seed=123,
#         )
# # model=VAECF(k=10, autoencoder_structure=[20], name="vae100",act_fn="tanh", likelihood="mult", n_epochs=100, batch_size=100, learning_rate=0.001, beta=1.0, seed=123, verbose=True)

models = [model]
cornac.Experiment(
    ratio_split, models=models, metrics=[hr_10, ndcg_10, recall_10, auc, prec_10, map]
).run()

rating_threshold = 0.0
exclude_unknowns = True
---
Training data:
Number of users = 1316
Number of items = 1272
Number of ratings = 77877
Max rating = 5.0
Min rating = 1.0
Global mean = 3.9
---
Test data:
Number of users = 1316
Number of items = 1272
Number of ratings = 20114
Number of unknown users = 0
Number of unknown items = 0
---
Total users = 1316
Total items = 1272

[WMF100] Training started!

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100/100 [00:03<00:00, 30.72it/s, loss=76.5]

Learning completed!

[WMF100] Evaluation started!

Ranking: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1316/1316 [00:01<00:00, 979.39it/s]

TEST:
...
       |    AUC | HitRatio@20 |    MAP | NDCG@20 | Precision@20 | Recall@20 | Train (s) | Test (s)
------ + ------ + ----------- + ------ + ------- + ------------ + --------- + --------- + --------
WMF100 | 0.7478 |      0.7052 | 0.0644 |  0.0947 |       0.0687 |    0.0953 |    5.2487 |   1.3496

In [9]:
user_ids = users["userID"].to_numpy()
item_ids = restaurants["itemID"].to_numpy()
item_ids

array([   0,    1,    2, ..., 1269, 1270, 1271])

In [10]:
users

      Gender  userID
0          1       0
1          1       1
2          1       2
3          0       3
4          1       4
...      ...     ...
1311       0    1311
1312       1    1312
1313       1    1313
1314       0    1314
1315       0    1315

[1316 rows x 2 columns]

In [11]:
user_ids.__len__()

1316

In [12]:
# get the top_k ratings for all users:
top_k = 100
reco_matrix = np.zeros((len(models), len(user_ids), top_k), dtype=int)
reco_matrix_mapped_items = np.zeros(
    (len(models), len(user_ids), len(item_ids)), dtype=int
)
reco_matrix_mapped_scores = np.zeros(
    (len(models), len(user_ids), len(item_ids)), dtype=float
)
reco_matrix_all = np.zeros((len(models), len(user_ids), len(item_ids)), dtype=int)


for u in user_ids:
    for i in range(len(models)):
        reco_items = models[i].recommend(u)
        items_mapped, mapped_scores = models[i].rank(
            user_idx=u, item_indices=list(item_ids)
        )
        reco_matrix_mapped_items[i][u] = items_mapped
        reco_matrix_mapped_scores[i][u] = mapped_scores
        reco_matrix_all[i][u] = reco_items
        reco_matrix[i][u] = reco_items[:top_k]

        # print(reco_matrix[0][3])

In [13]:
reco_matrix[0][1]

array([  55,  915,  546,   48,  883,  750,  244,  256,  309,   13,   85,
        290,  321,  115,  698,  609,   40,  820,  836,  909,  859,  308,
        499,  753,  808,  245,  320,  500,  554,  391,  807,  623,  616,
        191,  113,  163,    3,  973,   62, 1053,  528, 1055, 1031,   44,
        542,  185,  272, 1119, 1060,  141,  154,  167,  414,  523,  757,
        196,  453,  646,  329,  762,   14,  484,  619,  879,  153,  809,
        735,  468,  875, 1173,  406,   76,  779,  681, 1009,  417,  774,
         32,  636, 1011,  873, 1176,  447,  490,  221,  303,  205,  116,
        471, 1170,  796,  951,  765,  408,  371,  561,  396,  544, 1204,
        744])

In [14]:
reco_matrix[0][2]

array([ 260,  534,  553,   42,   73,  725,  419,  294,    0,  357,  879,
       1222, 1057,  813,  112,   56,  648,  475,  358,  387,  757,  458,
        310,   24,  132,   62,  167,  501, 1176,  334,   60,  309,  696,
        633, 1170, 1031,  592,   34,  848,  273,  113,  414,  869,  765,
        254,   64,   55, 1084,  823, 1095,  125, 1163,  455,   30,  185,
        555,  271,  234,  563,   29,  394, 1191,  468,   96, 1080,  619,
        562, 1060,  601,  820,  342,  807,  935,  497,  353,  874,  109,
        329,  726,  588,  525,  915,    4,   13,  596,  142, 1184,    2,
        426,  883, 1027,  634,   78,  229,  399,  308, 1053,  773,  872,
        290])

In [23]:
test_set_data = pd.DataFrame(ratio_split.test_set.uir_tuple).transpose()
test_set_data.columns = ["uid", "iid", "rating"]
test_set_data = test_set_data.astype({"uid": "int", "iid": "int", "rating": "int"})
r_global_uid_map = {v: k for k, v in ratio_split.global_uid_map.items()}
r_global_iid_map = {v: k for k, v in ratio_split.global_iid_map.items()}

test_set_data["uid"] = test_set_data["uid"].map(r_global_uid_map)
test_set_data["iid"] = test_set_data["iid"].map(r_global_iid_map)
test_set_data

        uid   iid  rating
0         0   407       1
1         0   505       5
2         0   631       5
3         0  1032       1
4         0   266       1
...     ...   ...     ...
20109  1315   690       3
20110  1315   214       4
20111  1315  1223       4
20112  1315   997       4
20113  1315   994       3

[20114 rows x 3 columns]

In [24]:
train_set_data = pd.DataFrame(ratio_split.train_set.uir_tuple).transpose()
train_set_data.columns = ["uid", "iid", "rating"]
train_set_data = train_set_data.astype({"uid": "int", "iid": "int", "rating": "int"})
r_global_uid_map = {v: k for k, v in ratio_split.global_uid_map.items()}
r_global_iid_map = {v: k for k, v in ratio_split.global_iid_map.items()}

train_set_data["uid"] = train_set_data["uid"].map(r_global_uid_map)
train_set_data["iid"] = train_set_data["iid"].map(r_global_iid_map)

In [26]:
train_set_data

        uid   iid  rating
0         0    25       4
1         0   900       5
2         0   774       2
3         0   468       5
4         0   529       2
...     ...   ...     ...
77872  1315   666       4
77873  1315   839       4
77874  1315   348       4
77875  1315   824       4
77876  1315  1149       2

[77877 rows x 3 columns]

In [25]:
test_set_data.to_csv("testing_set_seed123_yelp100k.csv", index=False, header=False)

In [27]:
train_set_data.to_csv("training_set_seed123_yelp100k.csv", index=False, header=False)

In [15]:
np.save("reco_matrix_wmf_yelp100k_100",reco_matrix)

In [1]:
reco_matrix[0].shape

NameError: name 'reco_matrix' is not defined

In [16]:
from collections import OrderedDict
# uid_map (OrderDict, required) â€“ The dictionary containing mapping from user original ids to mapped integer indices.

# iid_map (OrderDict, required) â€“ The dictionary containing mapping from item original ids to mapped integer indices.
sorted_by_values = OrderedDict(sorted(models[0].iid_map.items(), key=lambda item: item[1]))
keys_sorted_by_values = list(sorted_by_values.keys())

reco_items_scores_all = [OrderedDict() for _ in range(len(user_ids))]

for u in user_ids:
    actual_index_u = u
    mapped_index_u = models[0].uid_map[actual_index_u]
    # print(f"u {u} mapped u {mapped_index_u}")
    
    # for i in item_ids:
    mapped_scores = reco_matrix_mapped_scores[0][mapped_index_u]
    ordered_dict = OrderedDict(zip(keys_sorted_by_values, mapped_scores))
    reco_items_scores_all[actual_index_u] = ordered_dict

In [1]:
reco_items_scores_all[0]

NameError: name 'reco_items_scores_all' is not defined

In [17]:
models[0].uid_map.items()

odict_items([(101, 0), (845, 1), (705, 2), (20, 3), (635, 4), (593, 5), (153, 6), (37, 7), (915, 8), (522, 9), (810, 10), (18, 11), (34, 12), (809, 13), (239, 14), (749, 15), (889, 16), (928, 17), (542, 18), (501, 19), (342, 20), (175, 21), (116, 22), (144, 23), (618, 24), (118, 25), (860, 26), (335, 27), (263, 28), (825, 29), (405, 30), (942, 31), (867, 32), (286, 33), (393, 34), (224, 35), (146, 36), (792, 37), (416, 38), (652, 39), (147, 40), (368, 41), (773, 42), (727, 43), (194, 44), (246, 45), (75, 46), (446, 47), (76, 48), (461, 49), (793, 50), (912, 51), (110, 52), (504, 53), (84, 54), (627, 55), (621, 56), (42, 57), (594, 58), (728, 59), (301, 60), (214, 61), (668, 62), (937, 63), (484, 64), (274, 65), (685, 66), (526, 67), (776, 68), (121, 69), (139, 70), (108, 71), (679, 72), (207, 73), (111, 74), (65, 75), (587, 76), (143, 77), (322, 78), (392, 79), (770, 80), (299, 81), (838, 82), (690, 83), (630, 84), (27, 85), (829, 86), (11, 87), (676, 88), (26, 89), (380, 90), (490, 91), (378, 92), (706, 93), (909, 94), (781, 95), (98, 96), (463, 97), (772, 98), (795, 99), (662, 100), (883, 101), (12, 102), (487, 103), (721, 104), (703, 105), (771, 106), (448, 107), (551, 108), (759, 109), (767, 110), (397, 111), (95, 112), (596, 113), (339, 114), (198, 115), (192, 116), (869, 117), (219, 118), (658, 119), (645, 120), (49, 121), (878, 122), (315, 123), (683, 124), (361, 125), (639, 126), (409, 127), (738, 128), (935, 129), (28, 130), (289, 131), (691, 132), (512, 133), (882, 134), (367, 135), (407, 136), (681, 137), (158, 138), (545, 139), (137, 140), (107, 141), (125, 142), (852, 143), (29, 144), (537, 145), (364, 146), (864, 147), (255, 148), (895, 149), (178, 150), (713, 151), (161, 152), (317, 153), (862, 154), (432, 155), (711, 156), (278, 157), (701, 158), (334, 159), (834, 160), (465, 161), (391, 162), (363, 163), (149, 164), (220, 165), (56, 166), (70, 167), (22, 168), (813, 169), (74, 170), (602, 171), (383, 172), (131, 173), (329, 174), (535, 175), (133, 176), (905, 177), (436, 178), (264, 179), (39, 180), (578, 181), (800, 182), (689, 183), (477, 184), (82, 185), (574, 186), (472, 187), (345, 188), (92, 189), (469, 190), (922, 191), (814, 192), (450, 193), (808, 194), (729, 195), (754, 196), (417, 197), (300, 198), (222, 199), (491, 200), (636, 201), (841, 202), (742, 203), (649, 204), (440, 205), (103, 206), (640, 207), (694, 208), (2, 209), (758, 210), (223, 211), (485, 212), (356, 213), (35, 214), (71, 215), (445, 216), (244, 217), (59, 218), (1, 219), (188, 220), (270, 221), (156, 222), (920, 223), (473, 224), (530, 225), (24, 226), (567, 227), (186, 228), (549, 229), (801, 230), (16, 231), (215, 232), (856, 233), (272, 234), (647, 235), (73, 236), (850, 237), (932, 238), (599, 239), (182, 240), (665, 241), (106, 242), (10, 243), (89, 244), (913, 245), (588, 246), (870, 247), (389, 248), (225, 249), (365, 250), (904, 251), (418, 252), (273, 253), (560, 254), (152, 255), (302, 256), (332, 257), (903, 258), (498, 259), (787, 260), (377, 261), (295, 262), (585, 263), (696, 264), (805, 265), (241, 266), (419, 267), (358, 268), (797, 269), (243, 270), (430, 271), (249, 272), (726, 273), (835, 274), (404, 275), (746, 276), (677, 277), (611, 278), (794, 279), (573, 280), (468, 281), (756, 282), (102, 283), (126, 284), (743, 285), (128, 286), (120, 287), (527, 288), (628, 289), (849, 290), (476, 291), (901, 292), (609, 293), (159, 294), (346, 295), (15, 296), (349, 297), (354, 298), (138, 299), (17, 300), (737, 301), (764, 302), (129, 303), (227, 304), (622, 305), (460, 306), (940, 307), (735, 308), (321, 309), (31, 310), (488, 311), (261, 312), (684, 313), (710, 314), (457, 315), (320, 316), (45, 317), (531, 318), (213, 319), (789, 320), (582, 321), (413, 322), (57, 323), (386, 324), (846, 325), (423, 326), (414, 327), (906, 328), (260, 329), (898, 330), (44, 331), (401, 332), (443, 333), (680, 334), (540, 335), (96, 336), (620, 337), (708, 338), (566, 339), (281, 340), (150, 341), (851, 342), (702, 343), (78, 344), (881, 345), (435, 346), (478, 347), (310, 348), (54, 349), (240, 350), (833, 351), (892, 352), (539, 353), (384, 354), (548, 355), (212, 356), (831, 357), (441, 358), (304, 359), (572, 360), (204, 361), (91, 362), (408, 363), (482, 364), (802, 365), (555, 366), (64, 367), (894, 368), (53, 369), (369, 370), (798, 371), (122, 372), (865, 373), (626, 374), (736, 375), (185, 376), (114, 377), (173, 378), (151, 379), (661, 380), (434, 381), (863, 382), (899, 383), (875, 384), (885, 385), (81, 386), (938, 387), (127, 388), (731, 389), (783, 390), (766, 391), (352, 392), (918, 393), (366, 394), (603, 395), (284, 396), (174, 397), (569, 398), (32, 399), (202, 400), (559, 401), (233, 402), (303, 403), (740, 404), (557, 405), (374, 406), (791, 407), (181, 408), (663, 409), (327, 410), (429, 411), (3, 412), (763, 413), (752, 414), (815, 415), (624, 416), (914, 417), (907, 418), (283, 419), (425, 420), (876, 421), (782, 422), (390, 423), (237, 424), (130, 425), (919, 426), (591, 427), (570, 428), (200, 429), (722, 430), (733, 431), (518, 432), (817, 433), (406, 434), (55, 435), (6, 436), (755, 437), (682, 438), (257, 439), (197, 440), (0, 441), (183, 442), (590, 443), (866, 444), (732, 445), (141, 446), (256, 447), (454, 448), (890, 449), (187, 450), (253, 451), (58, 452), (666, 453), (282, 454), (558, 455), (343, 456), (564, 457), (493, 458), (77, 459), (447, 460), (166, 461), (704, 462), (30, 463), (553, 464), (117, 465), (550, 466), (135, 467), (816, 468), (644, 469), (442, 470), (532, 471), (394, 472), (360, 473), (421, 474), (803, 475), (453, 476), (888, 477), (565, 478), (525, 479), (672, 480), (762, 481), (753, 482), (617, 483), (583, 484), (687, 485), (873, 486), (265, 487), (847, 488), (235, 489), (47, 490), (779, 491), (444, 492), (634, 493), (924, 494), (458, 495), (123, 496), (580, 497), (494, 498), (228, 499), (848, 500), (242, 501), (199, 502), (529, 503), (9, 504), (60, 505), (517, 506), (716, 507), (592, 508), (614, 509), (470, 510), (437, 511), (290, 512), (552, 513), (692, 514), (891, 515), (861, 516), (479, 517), (99, 518), (279, 519), (502, 520), (251, 521), (221, 522), (464, 523), (589, 524), (298, 525), (513, 526), (113, 527), (112, 528), (288, 529), (619, 530), (201, 531), (61, 532), (511, 533), (497, 534), (720, 535), (79, 536), (839, 537), (719, 538), (399, 539), (505, 540), (523, 541), (259, 542), (607, 543), (536, 544), (496, 545), (604, 546), (218, 547), (837, 548), (822, 549), (210, 550), (579, 551), (136, 552), (160, 553), (41, 554), (896, 555), (584, 556), (5, 557), (483, 558), (428, 559), (686, 560), (154, 561), (85, 562), (941, 563), (659, 564), (33, 565), (86, 566), (516, 567), (351, 568), (660, 569), (88, 570), (675, 571), (734, 572), (786, 573), (921, 574), (226, 575), (69, 576), (191, 577), (784, 578), (285, 579), (929, 580), (519, 581), (877, 582), (697, 583), (231, 584), (238, 585), (933, 586), (715, 587), (395, 588), (698, 589), (157, 590), (309, 591), (547, 592), (931, 593), (340, 594), (341, 595), (43, 596), (268, 597), (900, 598), (336, 599), (163, 600), (449, 601), (355, 602), (313, 603), (509, 604), (744, 605), (544, 606), (247, 607), (520, 608), (673, 609), (40, 610), (459, 611), (709, 612), (853, 613), (812, 614), (109, 615), (761, 616), (375, 617), (402, 618), (275, 619), (633, 620), (632, 621), (403, 622), (46, 623), (533, 624), (820, 625), (306, 626), (884, 627), (826, 628), (712, 629), (575, 630), (855, 631), (168, 632), (556, 633), (481, 634), (563, 635), (83, 636), (51, 637), (90, 638), (422, 639), (615, 640), (534, 641), (252, 642), (521, 643), (93, 644), (745, 645), (48, 646), (8, 647), (456, 648), (688, 649), (206, 650), (818, 651), (455, 652), (4, 653), (717, 654), (97, 655), (382, 656), (373, 657), (67, 658), (379, 659), (347, 660), (538, 661), (887, 662), (372, 663), (638, 664), (433, 665), (741, 666), (939, 667), (610, 668), (601, 669), (293, 670), (568, 671), (87, 672), (842, 673), (524, 674), (828, 675), (910, 676), (748, 677), (893, 678), (595, 679), (66, 680), (314, 681), (650, 682), (480, 683), (796, 684), (507, 685), (515, 686), (13, 687), (23, 688), (311, 689), (387, 690), (879, 691), (671, 692), (431, 693), (499, 694), (203, 695), (648, 696), (467, 697), (318, 698), (858, 699), (105, 700), (14, 701), (169, 702), (262, 703), (236, 704), (868, 705), (52, 706), (832, 707), (230, 708), (902, 709), (297, 710), (936, 711), (258, 712), (167, 713), (750, 714), (598, 715), (629, 716), (871, 717), (211, 718), (674, 719), (656, 720), (765, 721), (229, 722), (769, 723), (508, 724), (277, 725), (193, 726), (411, 727), (500, 728), (489, 729), (886, 730), (597, 731), (739, 732), (172, 733), (605, 734), (232, 735), (561, 736), (667, 737), (699, 738), (370, 739), (707, 740), (68, 741), (785, 742), (305, 743), (854, 744), (208, 745), (641, 746), (145, 747), (184, 748), (276, 749), (269, 750), (859, 751), (148, 752), (307, 753), (471, 754), (196, 755), (426, 756), (381, 757), (700, 758), (287, 759), (657, 760), (195, 761), (410, 762), (362, 763), (466, 764), (725, 765), (162, 766), (503, 767), (613, 768), (506, 769), (576, 770), (179, 771), (451, 772), (462, 773), (250, 774), (806, 775), (291, 776), (164, 777), (190, 778), (50, 779), (777, 780), (94, 781), (338, 782), (836, 783), (439, 784), (248, 785), (747, 786), (730, 787), (916, 788), (581, 789), (897, 790), (396, 791), (333, 792), (623, 793), (824, 794), (799, 795), (245, 796), (19, 797), (823, 798), (554, 799), (843, 800), (788, 801), (664, 802), (216, 803), (412, 804), (475, 805), (844, 806), (923, 807), (807, 808), (292, 809), (562, 810), (388, 811), (528, 812), (543, 813), (324, 814), (655, 815), (124, 816), (348, 817), (669, 818), (495, 819), (927, 820), (385, 821), (654, 822), (830, 823), (171, 824), (474, 825), (751, 826), (840, 827), (323, 828), (872, 829), (612, 830), (616, 831), (631, 832), (925, 833), (625, 834), (723, 835), (217, 836), (331, 837), (350, 838), (209, 839), (398, 840), (328, 841), (571, 842), (718, 843), (586, 844), (934, 845), (424, 846), (541, 847), (514, 848), (492, 849), (344, 850), (36, 851), (371, 852), (180, 853), (359, 854), (768, 855), (608, 856), (115, 857), (930, 858), (38, 859), (821, 860), (415, 861), (486, 862), (775, 863), (646, 864), (142, 865), (80, 866), (780, 867), (104, 868), (874, 869), (420, 870), (695, 871), (757, 872), (326, 873), (400, 874), (357, 875), (176, 876), (165, 877), (132, 878), (651, 879), (917, 880), (637, 881), (100, 882), (337, 883), (693, 884), (642, 885), (271, 886), (510, 887), (234, 888), (819, 889), (760, 890), (312, 891), (308, 892), (857, 893), (353, 894), (778, 895), (140, 896), (316, 897), (325, 898), (438, 899), (62, 900), (170, 901), (330, 902), (7, 903), (774, 904), (134, 905), (606, 906), (319, 907), (189, 908), (880, 909), (254, 910), (205, 911), (827, 912), (177, 913), (811, 914), (452, 915), (72, 916), (926, 917), (600, 918), (155, 919), (911, 920), (267, 921), (643, 922), (266, 923), (427, 924), (296, 925), (653, 926), (280, 927), (25, 928), (804, 929), (790, 930), (119, 931), (670, 932), (376, 933), (546, 934), (21, 935), (714, 936), (908, 937), (577, 938), (294, 939), (63, 940), (678, 941), (724, 942)])

In [18]:
models[0].iid_map.items()

odict_items([(177, 0), (289, 1), (153, 2), (361, 3), (321, 4), (723, 5), (983, 6), (60, 7), (949, 8), (140, 9), (113, 10), (136, 11), (1024, 12), (311, 13), (347, 14), (240, 15), (111, 16), (52, 17), (31, 18), (297, 19), (320, 20), (88, 21), (367, 22), (489, 23), (490, 24), (568, 25), (355, 26), (985, 27), (68, 28), (402, 29), (95, 30), (710, 31), (203, 32), (175, 33), (426, 34), (161, 35), (722, 36), (488, 37), (405, 38), (445, 39), (841, 40), (771, 41), (698, 42), (450, 43), (415, 44), (83, 45), (302, 46), (11, 47), (364, 48), (388, 49), (124, 50), (336, 51), (955, 52), (1008, 53), (265, 54), (1170, 55), (268, 56), (637, 57), (188, 58), (298, 59), (41, 60), (1037, 61), (1082, 62), (529, 63), (165, 64), (198, 65), (847, 66), (158, 67), (499, 68), (305, 69), (500, 70), (73, 71), (267, 72), (761, 73), (1066, 74), (1110, 75), (350, 76), (832, 77), (687, 78), (913, 79), (306, 80), (514, 81), (810, 82), (1010, 83), (1124, 84), (1122, 85), (412, 86), (644, 87), (562, 88), (1138, 89), (196, 90), (278, 91), (695, 92), (877, 93), (1303, 94), (915, 95), (894, 96), (560, 97), (1316, 98), (549, 99), (444, 100), (780, 101), (1137, 102), (462, 103), (561, 104), (906, 105), (228, 106), (789, 107), (649, 108), (97, 109), (948, 110), (505, 111), (508, 112), (512, 113), (797, 114), (759, 115), (995, 116), (1295, 117), (521, 118), (764, 119), (333, 120), (29, 121), (250, 122), (618, 123), (709, 124), (26, 125), (329, 126), (407, 127), (443, 128), (492, 129), (100, 130), (356, 131), (78, 132), (229, 133), (721, 134), (170, 135), (216, 136), (47, 137), (454, 138), (432, 139), (1329, 140), (309, 141), (247, 142), (619, 143), (731, 144), (370, 145), (226, 146), (239, 147), (208, 148), (156, 149), (32, 150), (182, 151), (389, 152), (101, 153), (640, 154), (221, 155), (174, 156), (94, 157), (586, 158), (497, 159), (22, 160), (42, 161), (879, 162), (146, 163), (850, 164), (324, 165), (604, 166), (40, 167), (979, 168), (104, 169), (157, 170), (742, 171), (261, 172), (269, 173), (252, 174), (874, 175), (567, 176), (910, 177), (907, 178), (48, 179), (4, 180), (865, 181), (98, 182), (582, 183), (837, 184), (335, 185), (911, 186), (1067, 187), (176, 188), (1093, 189), (614, 190), (308, 191), (423, 192), (357, 193), (114, 194), (212, 195), (291, 196), (803, 197), (102, 198), (91, 199), (293, 200), (434, 201), (516, 202), (725, 203), (57, 204), (437, 205), (478, 206), (20, 207), (411, 208), (451, 209), (231, 210), (244, 211), (179, 212), (169, 213), (50, 214), (207, 215), (191, 216), (299, 217), (112, 218), (1151, 219), (145, 220), (33, 221), (1333, 222), (15, 223), (1224, 224), (463, 225), (573, 226), (358, 227), (135, 228), (1081, 229), (546, 230), (828, 231), (901, 232), (553, 233), (264, 234), (526, 235), (218, 236), (871, 237), (366, 238), (606, 239), (283, 240), (316, 241), (53, 242), (254, 243), (684, 244), (571, 245), (917, 246), (345, 247), (430, 248), (472, 249), (941, 250), (201, 251), (470, 252), (396, 253), (330, 254), (473, 255), (889, 256), (21, 257), (1021, 258), (587, 259), (354, 260), (541, 261), (542, 262), (661, 263), (365, 264), (185, 265), (873, 266), (675, 267), (84, 268), (700, 269), (194, 270), (717, 271), (27, 272), (318, 273), (1129, 274), (80, 275), (1031, 276), (310, 277), (740, 278), (416, 279), (446, 280), (8, 281), (65, 282), (477, 283), (413, 284), (807, 285), (918, 286), (193, 287), (519, 288), (603, 289), (13, 290), (1075, 291), (743, 292), (192, 293), (961, 294), (363, 295), (788, 296), (1020, 297), (205, 298), (645, 299), (51, 300), (144, 301), (89, 302), (49, 303), (1045, 304), (392, 305), (703, 306), (181, 307), (222, 308), (28, 309), (77, 310), (270, 311), (641, 312), (848, 313), (209, 314), (686, 315), (87, 316), (532, 317), (12, 318), (246, 319), (534, 320), (485, 321), (17, 322), (10, 323), (1113, 324), (856, 325), (552, 326), (25, 327), (697, 328), (1132, 329), (1056, 330), (90, 331), (452, 332), (564, 333), (34, 334), (217, 335), (536, 336), (92, 337), (317, 338), (670, 339), (544, 340), (422, 341), (275, 342), (857, 343), (469, 344), (786, 345), (9, 346), (121, 347), (456, 348), (139, 349), (509, 350), (339, 351), (325, 352), (148, 353), (117, 354), (1095, 355), (159, 356), (403, 357), (79, 358), (259, 359), (45, 360), (1265, 361), (86, 362), (609, 363), (783, 364), (484, 365), (919, 366), (580, 367), (204, 368), (99, 369), (842, 370), (5, 371), (260, 372), (349, 373), (337, 374), (404, 375), (288, 376), (398, 377), (498, 378), (277, 379), (200, 380), (527, 381), (588, 382), (626, 383), (93, 384), (236, 385), (547, 386), (44, 387), (525, 388), (554, 389), (195, 390), (796, 391), (643, 392), (502, 393), (425, 394), (790, 395), (147, 396), (474, 397), (748, 398), (375, 399), (689, 400), (296, 401), (530, 402), (249, 403), (368, 404), (956, 405), (1076, 406), (908, 407), (266, 408), (115, 409), (184, 410), (1079, 411), (85, 412), (935, 413), (663, 414), (1154, 415), (565, 416), (419, 417), (883, 418), (1039, 419), (58, 420), (189, 421), (133, 422), (387, 423), (592, 424), (399, 425), (230, 426), (1077, 427), (63, 428), (658, 429), (431, 430), (180, 431), (597, 432), (24, 433), (999, 434), (103, 435), (410, 436), (81, 437), (295, 438), (36, 439), (238, 440), (852, 441), (137, 442), (256, 443), (125, 444), (762, 445), (38, 446), (199, 447), (507, 448), (67, 449), (400, 450), (650, 451), (809, 452), (56, 453), (838, 454), (16, 455), (220, 456), (215, 457), (342, 458), (504, 459), (538, 460), (745, 461), (524, 462), (62, 463), (338, 464), (76, 465), (166, 466), (1026, 467), (589, 468), (377, 469), (768, 470), (769, 471), (495, 472), (331, 473), (1000, 474), (274, 475), (801, 476), (242, 477), (141, 478), (730, 479), (382, 480), (120, 481), (30, 482), (481, 483), (442, 484), (713, 485), (233, 486), (574, 487), (371, 488), (23, 489), (151, 490), (916, 491), (990, 492), (465, 493), (106, 494), (610, 495), (167, 496), (662, 497), (118, 498), (726, 499), (558, 500), (379, 501), (290, 502), (273, 503), (1035, 504), (739, 505), (737, 506), (830, 507), (688, 508), (629, 509), (460, 510), (3, 511), (773, 512), (284, 513), (164, 514), (359, 515), (1155, 516), (390, 517), (601, 518), (951, 519), (323, 520), (993, 521), (540, 522), (611, 523), (570, 524), (1141, 525), (518, 526), (1220, 527), (1139, 528), (986, 529), (109, 530), (814, 531), (285, 532), (1143, 533), (927, 534), (383, 535), (1204, 536), (37, 537), (925, 538), (821, 539), (307, 540), (276, 541), (711, 542), (1180, 543), (676, 544), (671, 545), (466, 546), (55, 547), (328, 548), (933, 549), (433, 550), (754, 551), (332, 552), (46, 553), (6, 554), (884, 555), (436, 556), (54, 557), (1178, 558), (468, 559), (219, 560), (373, 561), (537, 562), (882, 563), (622, 564), (758, 565), (150, 566), (142, 567), (211, 568), (511, 569), (394, 570), (870, 571), (75, 572), (61, 573), (154, 574), (314, 575), (420, 576), (123, 577), (1164, 578), (1198, 579), (1052, 580), (869, 581), (719, 582), (867, 583), (385, 584), (861, 585), (272, 586), (822, 587), (859, 588), (155, 589), (1297, 590), (232, 591), (1060, 592), (656, 593), (143, 594), (652, 595), (467, 596), (351, 597), (1105, 598), (920, 599), (172, 600), (733, 601), (556, 602), (747, 603), (677, 604), (981, 605), (18, 606), (493, 607), (197, 608), (1237, 609), (559, 610), (235, 611), (681, 612), (292, 613), (968, 614), (1206, 615), (14, 616), (967, 617), (315, 618), (1133, 619), (1046, 620), (899, 621), (414, 622), (669, 623), (1338, 624), (424, 625), (1043, 626), (819, 627), (862, 628), (763, 629), (352, 630), (1065, 631), (448, 632), (617, 633), (1175, 634), (971, 635), (1007, 636), (785, 637), (152, 638), (1, 639), (280, 640), (591, 641), (962, 642), (765, 643), (696, 644), (991, 645), (824, 646), (860, 647), (844, 648), (475, 649), (313, 650), (1064, 651), (1146, 652), (953, 653), (360, 654), (902, 655), (72, 656), (186, 657), (7, 658), (543, 659), (340, 660), (744, 661), (253, 662), (566, 663), (653, 664), (787, 665), (1073, 666), (813, 667), (1057, 668), (513, 669), (1312, 670), (625, 671), (1192, 672), (1203, 673), (708, 674), (835, 675), (818, 676), (1315, 677), (1145, 678), (802, 679), (584, 680), (346, 681), (1117, 682), (829, 683), (673, 684), (130, 685), (659, 686), (778, 687), (795, 688), (875, 689), (939, 690), (1131, 691), (994, 692), (903, 693), (408, 694), (551, 695), (716, 696), (685, 697), (64, 698), (471, 699), (1118, 700), (858, 701), (996, 702), (417, 703), (523, 704), (1266, 705), (1121, 706), (162, 707), (1100, 708), (168, 709), (1230, 710), (126, 711), (1094, 712), (854, 713), (633, 714), (624, 715), (1159, 716), (1004, 717), (202, 718), (1040, 719), (520, 720), (616, 721), (1098, 722), (736, 723), (0, 724), (928, 725), (904, 726), (1296, 727), (343, 728), (66, 729), (1298, 730), (528, 731), (1321, 732), (746, 733), (206, 734), (82, 735), (970, 736), (173, 737), (1223, 738), (344, 739), (190, 740), (1011, 741), (458, 742), (638, 743), (760, 744), (1195, 745), (849, 746), (510, 747), (131, 748), (287, 749), (1125, 750), (1144, 751), (988, 752), (322, 753), (386, 754), (138, 755), (657, 756), (701, 757), (599, 758), (1126, 759), (1169, 760), (1233, 761), (613, 762), (1183, 763), (702, 764), (262, 765), (1063, 766), (777, 767), (1038, 768), (1262, 769), (729, 770), (639, 771), (183, 772), (557, 773), (1231, 774), (406, 775), (924, 776), (43, 777), (1107, 778), (225, 779), (623, 780), (945, 781), (827, 782), (784, 783), (724, 784), (930, 785), (846, 786), (482, 787), (866, 788), (891, 789), (263, 790), (647, 791), (555, 792), (595, 793), (116, 794), (1009, 795), (888, 796), (455, 797), (632, 798), (494, 799), (957, 800), (303, 801), (1068, 802), (804, 803), (926, 804), (820, 805), (1074, 806), (282, 807), (429, 808), (1033, 809), (539, 810), (1255, 811), (1072, 812), (71, 813), (1258, 814), (409, 815), (608, 816), (1256, 817), (872, 818), (946, 819), (757, 820), (1207, 821), (577, 822), (39, 823), (960, 824), (799, 825), (693, 826), (243, 827), (480, 828), (374, 829), (1019, 830), (1307, 831), (938, 832), (1260, 833), (897, 834), (972, 835), (896, 836), (666, 837), (108, 838), (122, 839), (96, 840), (319, 841), (853, 842), (427, 843), (258, 844), (362, 845), (1048, 846), (435, 847), (1104, 848), (384, 849), (596, 850), (581, 851), (1201, 852), (1069, 853), (944, 854), (1061, 855), (129, 856), (741, 857), (583, 858), (997, 859), (880, 860), (720, 861), (634, 862), (1242, 863), (912, 864), (294, 865), (1189, 866), (950, 867), (210, 868), (160, 869), (1142, 870), (817, 871), (223, 872), (579, 873), (376, 874), (187, 875), (391, 876), (251, 877), (727, 878), (1166, 879), (1003, 880), (621, 881), (457, 882), (782, 883), (1226, 884), (766, 885), (381, 886), (628, 887), (301, 888), (237, 889), (1012, 890), (683, 891), (982, 892), (806, 893), (794, 894), (1114, 895), (984, 896), (767, 897), (1246, 898), (654, 899), (1240, 900), (503, 901), (942, 902), (732, 903), (1165, 904), (678, 905), (69, 906), (1210, 907), (59, 908), (665, 909), (257, 910), (964, 911), (496, 912), (1272, 913), (1032, 914), (816, 915), (563, 916), (890, 917), (642, 918), (224, 919), (1235, 920), (715, 921), (1208, 922), (922, 923), (712, 924), (1212, 925), (501, 926), (655, 927), (855, 928), (393, 929), (1193, 930), (963, 931), (483, 932), (1259, 933), (1147, 934), (1153, 935), (636, 936), (1006, 937), (947, 938), (585, 939), (674, 940), (1101, 941), (1086, 942), (752, 943), (668, 944), (680, 945), (868, 946), (808, 947), (1103, 948), (607, 949), (341, 950), (1029, 951), (1285, 952), (940, 953), (958, 954), (1120, 955), (1025, 956), (1218, 957), (1343, 958), (506, 959), (1071, 960), (815, 961), (1186, 962), (1196, 963), (312, 964), (750, 965), (271, 966), (1002, 967), (241, 968), (805, 969), (372, 970), (486, 971), (535, 972), (714, 973), (105, 974), (905, 975), (863, 976), (779, 977), (627, 978), (775, 979), (128, 980), (679, 981), (1301, 982), (980, 983), (975, 984), (213, 985), (1115, 986), (439, 987), (110, 988), (227, 989), (1344, 990), (378, 991), (923, 992), (934, 993), (548, 994), (517, 995), (594, 996), (234, 997), (1310, 998), (1302, 999), (615, 1000), (149, 1001), (533, 1002), (163, 1003), (881, 1004), (895, 1005), (831, 1006), (1270, 1007), (1236, 1008), (966, 1009), (774, 1010), (74, 1011), (1275, 1012), (1188, 1013), (1194, 1014), (1096, 1015), (545, 1016), (791, 1017), (898, 1018), (781, 1019), (1156, 1020), (1013, 1021), (1211, 1022), (1228, 1023), (1245, 1024), (692, 1025), (286, 1026), (959, 1027), (1102, 1028), (793, 1029), (107, 1030), (823, 1031), (421, 1032), (885, 1033), (1325, 1034), (836, 1035), (973, 1036), (965, 1037), (1311, 1038), (441, 1039), (1251, 1040), (1326, 1041), (770, 1042), (1049, 1043), (569, 1044), (1190, 1045), (453, 1046), (840, 1047), (550, 1048), (1027, 1049), (707, 1050), (348, 1051), (648, 1052), (575, 1053), (876, 1054), (664, 1055), (2, 1056), (134, 1057), (300, 1058), (1152, 1059), (590, 1060), (447, 1061), (178, 1062), (380, 1063), (1005, 1064), (812, 1065), (755, 1066), (598, 1067), (612, 1068), (476, 1069), (1279, 1070), (929, 1071), (1264, 1072), (718, 1073), (1160, 1074), (1347, 1075), (1109, 1076), (1070, 1077), (515, 1078), (1090, 1079), (281, 1080), (327, 1081), (893, 1082), (1323, 1083), (369, 1084), (734, 1085), (749, 1086), (694, 1087), (1313, 1088), (1289, 1089), (800, 1090), (1054, 1091), (132, 1092), (1106, 1093), (1174, 1094), (1281, 1095), (578, 1096), (1022, 1097), (1001, 1098), (1215, 1099), (1089, 1100), (1324, 1101), (70, 1102), (334, 1103), (1288, 1104), (127, 1105), (660, 1106), (839, 1107), (326, 1108), (464, 1109), (1181, 1110), (1078, 1111), (1055, 1112), (1283, 1113), (753, 1114), (600, 1115), (1293, 1116), (479, 1117), (1247, 1118), (531, 1119), (776, 1120), (1227, 1121), (914, 1122), (1202, 1123), (1332, 1124), (1088, 1125), (1051, 1126), (706, 1127), (1130, 1128), (605, 1129), (491, 1130), (864, 1131), (1036, 1132), (1339, 1133), (1092, 1134), (1112, 1135), (843, 1136), (1209, 1137), (1058, 1138), (214, 1139), (572, 1140), (1182, 1141), (1340, 1142), (834, 1143), (936, 1144), (602, 1145), (728, 1146), (987, 1147), (1087, 1148), (1140, 1149), (1030, 1150), (1205, 1151), (1108, 1152), (1253, 1153), (1276, 1154), (1091, 1155), (878, 1156), (119, 1157), (1214, 1158), (1290, 1159), (738, 1160), (1216, 1161), (522, 1162), (1299, 1163), (943, 1164), (1336, 1165), (1128, 1166), (248, 1167), (245, 1168), (974, 1169), (1263, 1170), (279, 1171), (992, 1172), (630, 1173), (461, 1174), (576, 1175), (1116, 1176), (1135, 1177), (1252, 1178), (1277, 1179), (1014, 1180), (1292, 1181), (1337, 1182), (459, 1183), (449, 1184), (1243, 1185), (1334, 1186), (1016, 1187), (1200, 1188), (900, 1189), (1241, 1190), (1176, 1191), (1099, 1192), (690, 1193), (1148, 1194), (826, 1195), (1041, 1196), (952, 1197), (631, 1198), (353, 1199), (35, 1200), (593, 1201), (1157, 1202), (1232, 1203), (1119, 1204), (620, 1205), (1042, 1206), (978, 1207), (931, 1208), (1161, 1209), (1318, 1210), (705, 1211), (1158, 1212), (1018, 1213), (886, 1214), (1291, 1215), (1217, 1216), (1248, 1217), (691, 1218), (1314, 1219), (989, 1220), (682, 1221), (851, 1222), (1059, 1223), (704, 1224), (1280, 1225), (825, 1226), (887, 1227), (976, 1228), (1287, 1229), (171, 1230), (811, 1231), (1197, 1232), (1187, 1233), (1306, 1234), (646, 1235), (1179, 1236), (1346, 1237), (1271, 1238), (1261, 1239), (667, 1240), (440, 1241), (1167, 1242), (487, 1243), (1044, 1244), (1335, 1245), (1309, 1246), (401, 1247), (428, 1248), (1229, 1249), (1127, 1250), (1184, 1251), (418, 1252), (954, 1253), (1097, 1254), (304, 1255), (1341, 1256), (969, 1257), (1050, 1258), (1250, 1259), (1249, 1260), (772, 1261), (255, 1262), (1163, 1263), (699, 1264), (792, 1265), (1328, 1266), (1320, 1267), (937, 1268), (1185, 1269), (1053, 1270), (1234, 1271), (998, 1272), (1268, 1273), (1134, 1274), (1172, 1275), (1345, 1276), (756, 1277), (1111, 1278), (1238, 1279), (1222, 1280), (1319, 1281), (19, 1282), (1034, 1283), (1062, 1284), (1278, 1285), (845, 1286), (1219, 1287), (1274, 1288), (1149, 1289), (1199, 1290), (395, 1291), (1308, 1292), (1331, 1293), (1300, 1294), (798, 1295), (1244, 1296), (1294, 1297), (1191, 1298), (1017, 1299), (1254, 1300), (1168, 1301), (909, 1302), (438, 1303), (1123, 1304), (1322, 1305), (1083, 1306), (1173, 1307), (1225, 1308), (1028, 1309), (1257, 1310), (672, 1311), (1177, 1312), (1150, 1313), (1085, 1314), (735, 1315), (1282, 1316), (1084, 1317), (1047, 1318), (1284, 1319), (1342, 1320), (751, 1321), (921, 1322), (1136, 1323), (833, 1324), (1080, 1325), (1305, 1326), (635, 1327), (1304, 1328), (1023, 1329), (1239, 1330), (1015, 1331), (1171, 1332), (892, 1333), (1317, 1334), (977, 1335), (1327, 1336), (397, 1337), (1267, 1338), (1221, 1339), (1269, 1340), (1286, 1341), (1330, 1342), (1273, 1343), (1213, 1344), (651, 1345), (1162, 1346), (932, 1347)])

In [19]:
i,s=models[0].rank(98, item_ids)
print(s.__len__())
np.argsort(s)[-10:][::-1]

1348

array([303,  17,  25, 193, 136,   9, 466, 380, 147, 421])

In [ ]:
matching_keys = [key for key, value in models[0].iid_map.items() if value == 35]
matching_keys

In [ ]:
reco_items_scores_all.__len__()

In [17]:
import pickle
with open('score_dicts_wmf_yelp100k.pkl', 'wb') as file:
    pickle.dump(reco_items_scores_all, file)

print("List of OrderedDicts saved to 'score_dicts.pkl'.")

List of OrderedDicts saved to 'score_dicts.pkl'.

In [ ]:
reco_matrix[0][0]

In [ ]:
reco_items_scores_all[98]

In [ ]:
x = OrderedDict(sorted(reco_items_scores_all[772].items(), key=lambda item: item[1], reverse=True))
x